{% extends 'enterprise/static/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <div class="content-wrapper" id="app">
        <div class="container">
            <section class="content-header">
                <h1>{% trans 'Analyze' %}</h1>

                <ol class="breadcrumb">
                    <li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> {% trans 'Dashboard' %}</a></li>
                    <li class="active">{% trans 'Analyze' %}</li>
                </ol>
            </section>

            <section class="content">
                
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-chart-line"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{% trans 'Daily Sales' %}</span>
                                <span class="info-box-number">{{ sales.daily }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-chart-line"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{% trans 'Weekly Sales' %}</span>
                                <span class="info-box-number">{{ sales.weekly }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-chart-line"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{% trans 'Monthly Sales' %}</span>
                                <span class="info-box-number">{{ sales.montly }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>{% trans 'Endorsement' %}</h3>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-money-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{% trans 'Daily Endorsement' %}</span>
                                <span class="info-box-number">{{ request.user.profile.enterprise.currency }} {{ endorsement.daily|floatformat:2 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-money-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{% trans 'Weekly Endorsement' %}</span>
                                <span class="info-box-number">{{ request.user.profile.enterprise.currency }} {{ endorsement.weekly|floatformat:2 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-money-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{% trans 'Monthly Endorsement' %}</span>
                                <span class="info-box-number">{{ request.user.profile.enterprise.currency }} {{ endorsement.montly|floatformat:2 }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>En Çok Satılan Menüler</h3>

                <div class="box">
                    <div class="box-body">
                      <table class="table">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Menü Adı</th>
                          <th>Satış</th>
                        </tr>
                        {% for item in most_sales %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ item.menu__name }}</td>
                          <td>{{ item.count_total }}</td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>

            </section>
        </div>
    </div>
{% endblock %}

{% block script %}


{% endblock %}

