{% extends 'enterprise/static/base.html' %}
{% load static %}

{% block body %}
    <div class="content-wrapper" id="app">
        <div class="container">
            <section class="content-header">
                <h1>Analiz</h1>

                <ol class="breadcrumb">
                    <li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> Anasayfa</a></li>
                    <li class="active">Analiz</li>
                </ol>
            </section>

            <section class="content">
                
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-chart-line"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Günlük Satış Miktarı</span>
                                <span class="info-box-number">{{ sales.daily }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-chart-line"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Haftalık Satış Miktarı</span>
                                <span class="info-box-number">{{ sales.weekly }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-chart-line"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Aylık Satış Miktarı</span>
                                <span class="info-box-number">{{ sales.montly }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Ciro</h3>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-money-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Günlük Ciro</span>
                                <span class="info-box-number">{{ endorsement.daily|floatformat:2 }} ₺</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-money-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Haftalık Ciro</span>
                                <span class="info-box-number">{{ endorsement.weekly|floatformat:2 }} ₺</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-money-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Aylık Ciro</span>
                                <span class="info-box-number">{{ endorsement.montly|floatformat:2 }} ₺</span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
{% endblock %}

{% block script %}


{% endblock %}

