{% extends 'enterprise/static/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

	<!-- Modal: Kategori Sirala -->
	<div class="modal fade" id="modal-sort">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'Order Categories' %}</h4>
				</div>

				<div class="modal-body">

					{% if categories|length == 0 %}
						<b>{% trans 'You have not created any categories at this time!' %}</b>

					{% elif categories|length != 0 %}
					
					<ul id="order-items" class="list-group" style="margin-bottom: 0">
						{% for category in categories %}
							<li class="list-group-item" id="{{category.id}}">
								<i class="fas fa-bars"></i>
								&nbsp;
								{{ category.name }}
							</li>
						{% endfor %}
					</ul>
					{% endif %}

				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">{% trans 'Cancel' %}</button>
					<button type="button" class="btn btn-success btn-success pull-left" id="button-order-save" style="width: 49%; float: left;">{% trans 'Save' %}</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal: Kategori Ekle -->
	<div class="modal fade" id="modal-add">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'Add Category' %}</h4>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label for="table-name">{% trans 'What is the name of the category you want to add?' %}</label>
						<input type="text" class="form-control" name="add-category-name">
					</div>

				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">{% trans 'Cancel' %}</button>
					<button type="button" class="btn btn-success btn-success pull-left" id="button-add-category" style="width: 49%; float: left;">{% trans 'Save' %}</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal: Kategori Duzenle -->
	<div class="modal fade" id="modal-edit">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'Edit Category' %}</h4>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label for="table-count">{% trans 'Category Name' %}</label>
						<input type="text" class="form-control" name="edit-category-name">
					</div>

				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-success btn-danger pull-left" id="button-delete" data-dismiss="modal" data-toggle="modal" data-target="#modal-delete">{% trans 'Delete' %}</button>
					<button type="button" class="btn btn-success btn-success pull-right" id="button-save">{% trans 'Save' %}</button>
					<button type="button" class="btn btn-default pull-right" data-dismiss="modal">{% trans 'Cancel' %}</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal: Kategori Sil -->
	<div class="modal fade" id="modal-delete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'Delete Table' %}</h4>
				</div>

				<div class="modal-body">
					<b><span id="delete-table-name"></span></b> {% trans ' and its products will be deleted. Do you confirm?' %}
				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">{% trans 'Cancel' %}</button>
					<button type="button" class="btn btn-danger pull-left" id="button-delete-2" style="width: 49%; float: left;">{% trans 'Delete' %}</button>
				</div>
			</div>
		</div>
	</div>



	<div class="content-wrapper">
		<div class="container">

			<section class="content-header">
				<h1>{% trans 'Menu and Category Settings' %}</h1>
				
				<ol class="breadcrumb">
					<li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> {% trans 'Dashboard' %}</a></li>
					<li class="active">{% trans 'Category' %}</li>
				</ol>
			</section>

			<section class="content">

				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}

				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid">
							<div class="box-header with-border">
								<i class="fa fa-comment-alt"></i>
								<h3 class="box-title">{% trans 'How to add products?' %}</h3>
							</div>
							<div class="box-body">
								<ol>
									<li>{% trans 'Create category' %}</li>
									<li>{% trans 'Add products into categories you create' %}</li>
									<li>{% trans 'The products on the customers screen are listed below the categories' %}</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">

						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add">
							<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;{% trans 'Add Category' %}
						</button>

						&nbsp;&nbsp;

						<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-sort">
							<i class="fa fa-sort" aria-hidden="true"></i>&nbsp;&nbsp;Sırala
						</button> -->
						
						<br><br>

						<div class="box">

							<div class="box-header">
								<h3 class="box-title">{% trans 'Categories' %}</h3>

								<!-- Search -->
								<div class="box-tools">
									<div class="input-group input-group-sm" style="width: 150px;" style="position: relative">
										<form type="get" action="{% url 'enterprise:category' %}">
											<input type="text" name="search" class="form-control pull-right" style="border-radius:5px; height: 30px; z-index: 1; padding-right: 30px;" placeholder="{% trans 'Search' %}" value="{{ request.GET.search }}">
										</form>
									</div>
								</div>

							</div>

							<div class="box-body table-responsive no-padding">

								<table class="table table-hover">
									{% if categories|length == 0 %}
										<tr>
											<th>{% trans 'You have not created any categories at this time!' %}</th>
										</tr>
									{% endif %}
									{% if categories|length != 0 %}

									<tr style="font-size: 1.5rem;">
										<th>#</th>
										<th>{% trans 'Category Name' %}</th>
										<th>{% trans 'Number of Products' %}</th>
										<th>{% trans 'Operations' %}</th>
									</tr>
									
									{% for category in categories %}
									<tr>
										<td class="category-id">{{ category.id }}</td>
										<td class="category-name">{{ category.name }}</td>
										<td>{{ category.menuCount }}</td>
										<td>
											<a href="{% url 'enterprise:menu' id=category.id %}">
												<button type="button" class="btn btn-success">{% trans 'Go to Menu' %}</button>
											</a>
											&nbsp;&nbsp;
											<button type="button" class="btn btn-default btn-edit">{% trans 'Edit' %}</button>
										</td>
									</tr>
									{% endfor %}
									{% endif %}

								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block script %}

	<!-- <script src="{% static 'plugins/sortablejs/Sortable.min.js' %}"></script> -->

	<script type="text/javascript">

		var el = document.getElementById('order-items');
		// var sortable = Sortable.create(el);


		// ============================= jQuery Requests ============================================

		function addCategory(name, enterprise){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({name: name, enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:category_create' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:category' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		function updateCategory(id, name, enterprise){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id, name: name, enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:category_update' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:category' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		function deleteCategory(id, enterprise){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id, enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:category_delete' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:category' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		function orderCategory(list, enterprise){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			console.log(JSON.stringify(list));

			var serialized = $.param({list: JSON.stringify(list), enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:category_order' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:category' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}



		$(document).ready(function(){


			// When Click the edit button, this variable set to selected item's id
			var selectedID = null;


			// ============================= TABLE ITEM BUTTON ============================================


			// EDIT TABLE ITEM

			$(".btn-edit").click(function(e){
				itemID = $(this).parent().parent().find('.category-id').html();
				itemName = $(this).parent().parent().find('.category-name').html();

				selectedID = itemID;

				// Fill Edit Form with selected items
				$('input[name="edit-category-name"]').val(itemName);

				// Fill Delete Form with selected items (if click Delete button, it shows)
				$('span#delete-table-name').html(itemName);

				$('#modal-edit').modal('show');
			});



			// ================================= MODAL BUTTON ============================================


			// MODAL: ORDER

			$('#button-order-save').click(function(e){
				// var btn = $(event.target);
				// btn.attr('disabled', 'disabled').html("Bekleyin...");
				
				var e = $('#order-items').children('li');

				var sendList = {}

				// {order: itemID, ..}
				for(item in e){
					if(item == 'length')
						break;
					var a = $(e[item]).attr('id');
					sendList[item] = a;
				}

				console.log(sendList);

				enterprise = '{{ request.user.profile.enterprise.id }}'

				orderCategory(sendList, enterprise);
			});


			// MODAL: ADD

			$('#button-add-category').click(function(e){
				console.log('tiklandi');
				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("{% trans 'Wait...' %}");
				
				name = $('input[name="add-category-name"]').val();
				enterprise = '{{ request.user.profile.enterprise.id }}'

				addCategory(name, enterprise);
			});

			

			// MODAL: UPDATE

			$('#button-save').click(function(e){

				// Get Edit Form Details

				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("{% trans 'Wait...' %}");

				id = selectedID;
				name = $('input[name="edit-category-name"]').val();
				enterprise = '{{ request.user.profile.enterprise.id }}'

				updateCategory(id, name, enterprise);


			});


			// MODAL: DELETE

			$('#button-delete-2').click(function(e){

				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("{% trans 'Wait...' %}");

				id = selectedID;
				enterprise = '{{ request.user.profile.enterprise.id }}'
				
				deleteCategory(id, enterprise);
			});

		});
	</script>
{% endblock %}
