{% extends 'enterprise/static/base.html' %}
{% load static %}
{% block body %}
    <div class="content-wrapper" id="app">
        <div class="container">
            <section class="content-header">
                <h1>
                Enterprise
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> Anasayfa</a></li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block script %}

<script type="text/javascript">

    


  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        isLoading: true,
        items: [],
        interval: null,
    },
    methods: {
      loadData: function () {
        console.log('get data');
        $.get("{% url 'cart:getLine' %}", function (response) {
            this.isLoading = false   
            console.log('finish');
            // console.log(response.data);
            this.items = response.data;
        }.bind(this));
      }
    },
    mounted: function () {
        console.log('Start Loading');
        this.isLoading = true;
        this.loadData();

        this.interval = setInterval(function () {
            this.loadData();
        }.bind(this), 3000); 
    },

   beforeDestroy: function(){
    clearInterval(this.interval);
    }
  });

  // import moment from 'moment'

    Vue.filter('formatDate', function(value) {
      if (value) {
        // return moment(String(value)).format('MM/DD/YYYY hh:mm')
        return moment(String(value)).locale('tr').fromNow();
      }
    });



    function setComplated(item, event){


        var id = item.id;

        console.log($(event.target));
        
        var btn = $(event.target);
        btn.attr('disabled', 'disabled').html("Onaylanıyor...");
        // setTimeout(function () {
            // btn.removeAttr('disabled').html('Ödeme Al');
            // item.isComplated = true;
        // }, 1000);


            // CSRF Token for Django
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            });

            var serialized = $.param({id: id});

            request = $.ajax({
                url: "{% url 'cart:setComplated' %}",
                type: "post",
                data: serialized
            });

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                // Log a message to the console
                console.log("Hooray, it worked!");
                console.log(status);
                // app.loadData();
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // Log the error to the console
                console.error(
                    "The following error occurred: "+
                    textStatus, errorThrown
                );
            });
        }



        function setPaid(item, event){


        var id = item.id;

        console.log($(event.target));
        
        var btn = $(event.target);
        btn.attr('disabled', 'disabled').html("Tamamlanıyor...");
        // setTimeout(function () {
            // btn.removeAttr('disabled').html('Ödeme Al');
            // item.isPaid = true;
        // }, 1000);


            // CSRF Token for Django
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            });

            var serialized = $.param({id: id});

            request = $.ajax({
                url: "{% url 'cart:setPaid' %}",
                type: "post",
                data: serialized
            });

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                // Log a message to the console
                console.log("Hooray, it worked!");
                console.log(status);
                // app.loadData();
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // Log the error to the console
                console.error(
                    "The following error occurred: "+
                    textStatus, errorThrown
                );
            });
        }


</script>

{% endblock %}

