{% extends 'enterprise/static/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block body %}

	<!-- Modal: Ürün Ekle -->
	<div class="modal fade" id="modal-add">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Ürün Ekleme</h4>
				</div>

				<form id="add-form" method="post" action="{% url 'api:menu_create' %}" enctype="multipart/form-data">
					<div class="modal-body">
						{% csrf_token %}
						{{ form.media }}
						{% bootstrap_form form %}
						<input type="text" name="enterprise" style="display: none" value="{{ request.user.profile.enterprise.id }}">
						<input type="text" name="category" style="display: none" value="{{ category.id }}">
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Vazgeç</button>
						<button type="submit" class="btn btn-success btn-success pull-left" id="add-button">Ekle</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- Modal: Ürün Duzenle -->
	<div class="modal fade" id="modal-edit">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Ürün Düzenle</h4>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label for="table-count">Menü Adı</label>
						<input type="text" class="form-control" name="edit-category-name">
					</div>

				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Vazgeç</button>
					<button type="button" class="btn btn-success btn-success pull-left" id="button-save">Kaydet</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal: Ürün Sil -->
	<div class="modal fade" id="modal-delete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Ürün Sil</h4>
				</div>

				<div class="modal-body">
					<b><span id="delete-name"></span></b> isimli menü silinecektir. Onaylıyor musunuz?
				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Vazgeç</button>
					<button type="button" class="btn btn-danger pull-left" style="width: 80px" id="button-delete">Sil</button>
				</div>
			</div>
		</div>
	</div>



	<div class="content-wrapper">
		<div class="container">

			<section class="content-header">
				<h1>Menü Ayarları</h1>
				
				<ol class="breadcrumb">
					<li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> Anasayfa</a></li>
					<li><a href="{% url 'enterprise:category' %}">Kategori</a></li>
					<li class="active">Menü</li>
				</ol>
			</section>

			<section class="content">

				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}

				<div class="row">
					<div class="col-xs-12">

						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add">
							<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Ürün Ekle
						</button>
						
						<br><br>

						<div class="box">

							<div class="box-header">
								<h3 class="box-title">{{ category }}</h3>

								<!-- Search -->
								<div class="box-tools">
									<div class="input-group input-group-sm" style="width: 150px;" style="position: relative">
										<form type="get" action="{% url 'enterprise:menu' id=category.id %}">
											<input type="text" name="search" class="form-control pull-right" style="border-radius:5px; height: 30px; z-index: 1; padding-right: 30px;" placeholder="Arama" value="{{ request.GET.search }}">
										</form>
									</div>
								</div>

							</div>

							<div class="box-body table-responsive no-padding">

								<table class="table table-hover">
									<tr style="font-size: 1.5rem;">
										<th>#</th>
										<th>Ürün Adı</th>
										<th>Fiyat</th>
										<th>Stok Durumu</th>
										<th>İşlemler</th>
									</tr>
									
									{% for menu in menus %}
									<tr>
										<td class="menu-id">{{ menu.id }}</td>
										<td class="menu-name">{{ menu.name }}</td>
										<td>{{ menu.price|floatformat:2 }} TL</td>
										<td>
											{% if menu.stock == True %}<i class="fa fa-check-circle" style="color: green"></i>{% endif %}
											{% if menu.stock == False %}<i class="fa fa-times-circle" style="color: red"></i>{% endif %}
										</td>
										<td>
											<button type="button" class="btn btn-default btn-edit">Göster</button>
											&nbsp;&nbsp;
											<button type="button" class="btn btn-warning btn-edit">Düzenle</button>
											&nbsp;&nbsp;
											<button type="button" class="btn btn-danger btn-delete">Sil</button>
										</td>
									</tr>
									{% endfor %}

								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block script %}

	<script type="text/javascript">

		// ============================= jQuery Requests ============================================


		function updateCategory(id, name, enterprise){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id, name: name, enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:category_update' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:category' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		function deleteItem(id, enterprise){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id, enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:menu_delete' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:menu' id=category.id %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}



		$(document).ready(function(){


			// When Click the edit button, this variable set to selected item's id
			var selectedID = null;


			// ============================= TABLE ITEM BUTTON ============================================


			// EDIT TABLE ITEM

			$(".btn-edit").click(function(e){
				itemID = $(this).parent().parent().find('.menu-id').html();
				itemName = $(this).parent().parent().find('.menu-name').html();

				selectedID = itemID;

				// Fill Edit Form with selected items
				$('input[name="edit-category-name"]').val(itemName);

				// Fill Delete Form with selected items (if click Delete button, it shows)
				$('span#delete-table-name').html(itemName);

				$('#modal-edit').modal('show');
			});



			// DELETE TABLE ITEM

			$(".btn-delete").click(function(e){
				itemID = $(this).parent().parent().find('.menu-id').html();
				itemName = $(this).parent().parent().find('.menu-name').html();

				selectedID = itemID;

				// Fill Edit Form with selected items
				$('#delete-name').html(itemName);

				$('#modal-delete').modal('show');
			});




			// ================================= MODAL BUTTON ============================================


			// MODAL: ADD

			$('#add-form').submit(function(e) {
            	var btn = $('#add-button');
                btn.attr('disabled', 'disabled').html("Bekleyin...");
            	e.preventDefault();
            	$(this).ajaxSubmit(function(event){
            		window.location.href = "{% url 'enterprise:menu' id=category.id %}";
            	});
            });

			

			// MODAL: UPDATE

			$('#button-save').click(function(e){

				// Get Edit Form Details

				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("Bekleyin...");

				id = selectedID;
				name = $('input[name="edit-category-name"]').val();
				enterprise = '{{ request.user.profile.enterprise.id }}'

				updateCategory(id, name, enterprise);


			});


			// MODAL: DELETE

			$('#button-delete').click(function(e){
				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("Bekleyin...");
				id = selectedID;
				enterprise = '{{ request.user.profile.enterprise.id }}'
				deleteItem(id, enterprise);
			});

		});
	</script>
{% endblock %}
