{% extends 'enterprise/static/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block body %}

	<!-- Modal: Ürün Ekle ve Duzenle -->
	<div class="modal fade" id="modal-menu">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'Add Product' %}</h4>
				</div>

				<form id="add-form" method="post" enctype="multipart/form-data">
					<div class="modal-body">
						{% csrf_token %}
						<img id="menu_pic" src="" width="100px" crossorigin="anonymous" style="margin-bottom: 15px; display: none">
						{% bootstrap_form form %}
						<input type="text" name="enterprise" style="display: none">
						<input type="text" name="category" style="display: none">
						<input type="text" name="id" style="display: none">
						<hr>
						
						<!-- Options -->
						<div class="input_fields_wrap">
						</div>

						<div class="form-group">
							<button type="button" class="btn btn-primary add_field_button">{% trans 'Add Option' %}</button>
						</div>

					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 49%; float: left">{% trans 'Cancel' %}</button>
						<button type="submit" class="btn btn-success" id="add-button" style="width: 49%; float: left;">{% trans 'Save' %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	


	<!-- Modal: Ürün Sil -->
	<div class="modal fade" id="modal-delete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'Delete Product' %}</h4>
				</div>

				<div class="modal-body">
					<b><span id="delete-name"></span></b> {% trans 'will be deleted. Do you confirm?' %}
				</div>


			
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left;">{% trans 'Cancel' %}</button>
					<button type="button" class="btn btn-danger pull-left" id="button-delete" style="width: 49%; float: left">{% trans 'Save' %}</button>
				</div>
			</div>
		</div>
	</div>



	<div class="content-wrapper">
		<div class="container">

			<section class="content-header">
				<h1>{% trans 'Menu Settings' %}</h1>
				
				<ol class="breadcrumb">
					<li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> {% trans 'Dashboard' %}</a></li>
					<li><a href="{% url 'enterprise:category' %}">{% trans 'Category' %}</a></li>
					<li class="active">{% trans 'Menu' %}</li>
				</ol>
			</section>

			<section class="content">

				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}

				<div class="row">
					<div class="col-xs-12">

						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-menu" onclick="changeModalType('add');">
							<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;{% trans 'Add Product' %}
						</button>
						
						<br><br>

						<div class="box">

							<div class="box-header">
								<h3 class="box-title">{{ category }}</h3>

								<!-- Search -->
								<div class="box-tools">
									<div class="input-group input-group-sm" style="width: 150px;" style="position: relative">
										<form type="get" action="{% url 'enterprise:menu' id=category.id %}">
											<input type="text" name="search" class="form-control pull-right" style="border-radius:5px; height: 30px; z-index: 1; padding-right: 30px;" placeholder="{% trans 'Search' %}" value="{{ request.GET.search }}">
										</form>
									</div>
								</div>

							</div>

							<div class="box-body table-responsive no-padding">

								<table class="table table-hover">
									{% if menus|length == 0 %}
										<tr>
											<th>{% trans 'You have not created any menus at this time!' %}</th>
										</tr>
									{% endif %}
									{% if menus|length != 0 %}
									<tr style="font-size: 1.5rem;">
										<th>#</th>
										<th>{% trans 'Product Name' %}</th>
										<th>{% trans 'Price' %}</th>
										<!-- <th>Stok Durumu</th> -->
										<th>{% trans 'Operations' %}</th>
									</tr>
									
									{% for menu in menus %}
									<tr>
										<td class="menu-id">{{ menu.id }}</td>
										<td class="menu-name">{{ menu.name }}</td>
										<td>{{ request.user.profile.enterprise.currency }} {{ menu.price|floatformat:2 }}</td>
										<!-- <td>
											{% if menu.stock == True %}<i class="fa fa-check-circle" style="color: green"></i>{% endif %}
											{% if menu.stock == False %}<i class="fa fa-times-circle" style="color: red"></i>{% endif %}
										</td> -->
										<td>
											<button type="button" class="btn btn-default btn-edit" data-loading-text="{% trans 'Wait...' %}">{% trans 'Edit' %}</button>
											&nbsp;&nbsp;
											<button type="button" class="btn btn-danger btn-delete">{% trans 'Delete' %}</button>
										</td>
									</tr>
									{% endfor %}
									{% endif %}

								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block script %}


	<script type="text/javascript">


		// ================================= MODAL UI EVENTS ============================================

		// When Click the edit button, this variable set to selected item's id
		var selectedID = null;
		// Increase when click the 'Secenek Ekle' button for input names ex. optionField-IDX
		var count = 0;

		$(function(){

			// MODAL: ADD-EDIT
			$('#add-form').submit(function(e) {
				var btn = $('#add-button');
				btn.attr('disabled', 'disabled').html("{% trans 'Wait...' %}");
				e.preventDefault();

				var options = {
					beforeSubmit: function(arr, $form, options) { 
					},
					success: function(e){
						// console.log(e);
						window.location.href = "{% url 'enterprise:menu' id=category.id %}";
					}
				};
				$(this).ajaxSubmit(options);
			});

			// MODAL: DELETE
			$('#button-delete').click(function(e){
				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("{% trans 'Wait...' %}");
				id = selectedID;
				enterprise = '{{ request.user.profile.enterprise.id }}'
				deleteItem(id, enterprise);
			});

		});


		// FUNC: Change Modal Add or Edit
		function changeModalType(type){
			// Clean First
			$('#add-form').clearForm();
			$('.input_fields_wrap').html('');
			count = 0;
			// Fill Required Data
			$('input[name=enterprise]').val('{{ request.user.profile.enterprise.id }}');
			$('input[name=category]').val('{{ category.id }}');

			if(type == 'add'){
				$('#modal-menu .modal-title').html("{% trans 'Add Product' %}");
				$('#modal-menu #menu_pic').hide();
				$('#add-button').html("{% trans 'Add' %}");
				$('input[name="stock"]').prop('checked','checked');	
				$('#add-form').attr('action', '{% url 'api:menu_create' %}');
				
			}else if(type == 'edit'){
				$('#modal-menu .modal-title').html("{% trans 'Edit Product' %}");
				$('#modal-menu #menu_pic').show();
				$('#add-button').html("{% trans 'Update' %}");
				$('#add-form').attr('action', '{% url 'api:menu_update' %}');

			}
		}




		// ================================ ADD-MODAL UI EVENTS ========================================

		// 1
		// Add Option Form (Click 'Secenek Ekle' button)
		$(function(){

			var wrapper         = $(".input_fields_wrap"); //Fields wrapper
			var add_button      = $(".add_field_button"); //Add button ID

			$(add_button).click(function(e){
				e.preventDefault();

				$(wrapper).append(`
				                  	<div class='option-form'>
				                  		<input type="text" name="optionId-`+count+`" style="display:none" />
					                  	<div class="form-group">
											<label class="control-label">{% trans 'Option Title' %}</label>
											<input type="text" maxlength="30" class="form-control" name="optionName-`+count+`" required />
											<p class="help-block">{% trans 'You can write headings such as servings, ingredients.' %}</p>
										</div>

										<div class="form-group">
											<label>{% trans 'Option Type' %}</label>
											<select class="form-control" name="optionType-`+count+`" onchange="changeSelect(this);">
												<option value='' selected disabled hidden>{% trans 'Select' %}</option>
												<option value='dropadd'>{% trans 'Free Options' %}</option>
												<option value='option'>{% trans 'Paid Options' %}</option>
											</select>
										</div>

										<!-- Inputs: Displays when click 'Ucretsiz Secimler' -->
										<div class="form-group dropadd-div" style="display: none">
											<label>{% trans 'Option List' %}</label>
											<div class="controls">
												<div class="entry input-group col-xs-12" style="margin-bottom: 10px">
													<input type="text" name="optionFieldsId-`+count+`[]" style="display:none" />
													<input class="form-control" name="optionFields-`+count+`[]" type="text" placeholder="{% trans 'Option' %}" />
													<span class="input-group-btn">
														<button class="btn btn-success btn-add" type="button">
															<span class="glyphicon glyphicon-plus"></span>
														</button>
													</span>
												</div>
											</div>
											<p class="help-block">{% trans "You can add preferences like 'onion', 'hot pepper' to this list." %}</p>
										</div>

										<!-- Inputs: Displays when click 'Ucretli Secimler' -->
										<div class="form-group option-div" style="display: none">
											<label>{% trans 'Option List' %}</label>
											<div class="input-area">
												<div class="input-fields">
													<div class="row entry-p">
														<input type="text" name="optionFieldsId-`+count+`-p[]" style="display:none" />
														<div class="col-xs-6" style="padding-right: 0">
															<div class="form-group" style="margin-bottom: 10px">
																<input class="form-control" name="optionFields-`+count+`-p[]" type="text" placeholder="{% trans 'Option' %}" />
															</div>
														</div>
														<div class="col-sm-4 col-xs-3" style="padding: 0 0; margin-left: -1px">
															<div class="form-group" style="margin-bottom: 10px">
																<input class="form-control" name="optionFields-`+count+`-p[]" type="number" step="0.01" min="0" placeholder="{% trans 'Enter Price' %}" />
															</div>
														</div>
														<div class="col-sm-2 col-xs-3 div-del-btn-p" style="padding-left: 10px; display:none">
															<div class="form-group">
																<button type="button" class="btn btn-danger btn-block btn-delete-p">{% trans 'Delete' %}</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<button type="button" class="btn btn-default btn-add-p">{% trans 'Add' %}</button>
											</div>
											<!--
											<p class="help-block">Bu listeye porsiyon gibi tercihleri ekleyebilirsiniz. Örnek: </p>
											<p class="help-block">
												<ul>
													<li>1 Porsiyon - 0</li>
													<li>1.5 Porsiyon - 10 TL</li>
												</ul>
											</p>
											-->
											<p class="help-block" style="color: orange">{% trans 'The price you type will be added over the product price.' %}</p>
										</div>

										<div class="form-group">
											<button type="button" class="btn btn-danger remove_field">{% trans 'Remove Option' %}</button>
										</div>

										<hr>
									</div>
				`);
				count++;
			});


			$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
				e.preventDefault();
				$(this).parent('div').parent('div').remove();
				count--;
			})
		});



		// 1.1
		// in Extra Options
		// When Click 'Secenek Turu (Select-Option), show related inputs'
		function changeSelect(e){
			if(e.value == 'option'){
				$(e).parent().parent().find('.dropadd-div').hide();
				$(e).parent().parent().find('.option-div').show();

			}else if(e.value == 'dropadd'){
				$(e).parent().parent().find('.dropadd-div').show();
				$(e).parent().parent().find('.option-div').hide();
			}
		}

		// 1.2
		// in Ucretsiz Secenek - Inputs
		// When click the + button, add new input - When click the - button, delete input
		$(function(){
			$(document).on('click', '.btn-add', function(e){
				e.preventDefault();

				var controlForm = $(this).parent().parent().parent(),
					currentEntry = $(this).parents('.entry:first'),
					newEntry = $(currentEntry.clone()).appendTo(controlForm);

				newEntry.find('input').val('');
				controlForm.find('.entry:not(:last) .btn-add')
					.removeClass('btn-add').addClass('btn-remove')
					.removeClass('btn-success').addClass('btn-danger')
					.html('<span class="glyphicon glyphicon-minus"></span>');
			
			}).on('click', '.btn-remove', function(e){
				$(this).parents('.entry:first').remove();
				e.preventDefault();
				return false;
			});
		});


		// 1.3
		// in Ucretli Secenek - Inputs
		// When click the + button, add new input - When click the - button, delete input
		$(function(){

			$(document).on('click', '.btn-add-p', function(e){
				e.preventDefault();

				var controlForm = $(this).parent().parent().children('.input-area'),
					currentEntry = $(this).parent().parent().children('.input-area').find('.input-fields:first'),
					newEntry = $(currentEntry.clone()).appendTo(controlForm);

				// Show Delete Button
				$(controlForm).find('.input-fields:last').find('.div-del-btn-p').show();

				newEntry.find('input').val('');
			
			}).on('click', '.btn-delete-p', function(e){
				$(this).parents('.input-fields:first').remove();
				e.preventDefault();
				return false;
			});
		});

		



		// ============================= jQuery REQUESTS ============================================



		function deleteItem(id, enterprise){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id, enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:menu_delete' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				window.location.href = "{% url 'enterprise:menu' id=category.id %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		function getItem(id, enterprise, btn){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id, enterprise: enterprise});

			request = $.ajax({
				url: "{% url 'api:menu_get' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){

				// Fill Edit Form with selected items
				$('input[name="id"]').val(response.details.id);
				$('input[name="name"]').val(response.details.name);
				$('input[name="description"]').val(response.details.description);
				$('input[name="price"]').val(response.details.price);
				if(response.details.picture != 'none'){
					$('img#menu_pic').attr('src', '' + response.details.picture);
				}else{
					$('img#menu_pic').hide();
				}
				if (response.details.stock == true){
					$('input[name="stock"]').prop('checked','checked');
				}else{
					$('input[name="stock"]').prop('checked','');
				}

				// Fill Option Fields = Simulate Clicks
				response.details.options.forEach(function(item, k){
					$(".add_field_button").click();
					var optionField = $(".input_fields_wrap").find('.option-form:last');

					// Fill Name and Select Type
					optionField.find('input[name="optionId-'+k+'"]').val(item.id);
					optionField.find('input[name="optionName-'+k+'"]').val(item.name);
					optionField.find('select').val(item.type).trigger('change');

					// Fill Inside
					item.options.forEach(function(itemX, key){
						if(item.type == 'dropadd'){
							var dropField = optionField.find('.dropadd-div');

							// Click Add Button
							if(key != 0){ dropField.find('.btn-add').click();}
							
							dropField.find('input[name="optionFieldsId-'+k+'[]"]:last').val(itemX.id);
							dropField.find('input[name="optionFields-'+k+'[]"]:last').val(itemX.name);

						}else if(item.type == 'option'){
							var optionListField = optionField.find('.option-div');

							// Click Add Button
							if(key != 0){ optionListField.find('.btn-add-p').click();}

							// Find All Inputs (id, name, price) and select last 3 one
							// Because all fields (name, price) are same name for 1 option (for example Porsiyon).
							inputs = optionListField.find('input')
							inputs = inputs.slice(Math.max(inputs.length - 3, 0))
							$(inputs[0]).val(itemX.id);
							$(inputs[1]).val(itemX.name);
							$(inputs[2]).val(itemX.price);
						}
					});

				})

				btn.button('reset');
				$('#modal-menu').modal('show');
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		


		// ============================= TABLE UI EVENTS ============================================

		$(function(){

			// EDIT TABLE ITEM

			$(".btn-edit").click(function(e){
				itemID = $(this).parents('tr').find('.menu-id').html();

				changeModalType('edit');

				var btn = $(this);
    			btn.button('loading');

				// btn.attr('disabled', 'disabled').html("Bekleyin...");

				// Get Menu Details from API
				getItem(itemID, {{ request.user.profile.enterprise.id }}, btn);

			});



			// DELETE TABLE ITEM

			$(".btn-delete").click(function(e){
				itemID = $(this).parent().parent().find('.menu-id').html();
				itemName = $(this).parent().parent().find('.menu-name').html();

				selectedID = itemID;

				// Fill Edit Form with selected items
				$('#delete-name').html(itemName);

				$('#modal-delete').modal('show');
			});

		});

	</script>
{% endblock %}
