{% extends 'enterprise/static/base.html' %}
{% load static %}

{% block body %}
	<div class="content-wrapper" id="app">
		<div class="container">
			<section class="content-header">
				<h1>Siparişler</h1>

				<ol class="breadcrumb">
					<li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> Anasayfa</a></li>
					<li class="active">Siparişler</li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<!-- <div class="box-header">
								<h3 class="box-title">Responsive Hover Table</h3>
								<div class="box-tools">
									<div class="input-group input-group-sm" style="width: 150px;">
										<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
										<div class="input-group-btn">
											<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
										</div>
									</div>
								</div>
							</div> -->
							<!-- /.box-header -->
							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">
									<tr style="font-size: 1.5rem;">
										<th>#</th>
										<th>Masa</th>
										<th>Sipariş</th>
										<th>Sipariş Zamanı</th>
										<th>Toplam Ücret</th>
										<th>İşlemler</th>
									</tr>
									<tr v-for="item in items" style="font-size: 1.5rem;">
										<td>[[ item.id ]]</td>
										<td>[[ item.table ]]</td>
										<td>
											<div v-for="(order, index) in item.order">
												<div v-if="order.name != ''">
													[[ order.count ]] tane
													[[ order.name ]]
													<div v-if="order.options != '-1'">
														[[ order.optionsReadable ]]
													</div>
													<!-- if not last item -->
													<div v-if="index != item.order.length - 1">
														<hr>
													</div>
												</div>
												<div v-show="order.name == '' ">
													Menu Silinmis
												</div>
											</div>
										</td>
										<td>[[ item.orderDate | formatDate ]]</td>
										<td>[[ item.totalPrice ]] ₺</td>
										<td>
											<div v-show="item.isComplated == false" v-on:click="setComplated(item, $event)">
												<button type="button" class="btn btn-block btn-success">Onayla</button>
											</div>
											
											<div v-show="item.isPaid == false && item.isComplated == true" v-on:click="setPaid(item, $event)">
												<button type="button" class="btn btn-block btn-warning">Ödeme Al</button>
											</div>

											<div v-show="item.isPaid == true && item.isComplated == true">
												<b style="color: green">Tamamlandı</b>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="overlay" v-if="isLoading">
								<i class="fa fas fa-sync-alt fa-spin"></i>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block script %}

<script type="text/javascript">

	// Get Lines
	var app = new Vue({
		delimiters: ['[[', ']]'],
		el: '#app',
		data: {
			isLoading: true,
			items: [],
			interval: null,
		},
		methods: {
			loadData: function () {
				$.get("{% url 'api:line_get' %}", function (response) {
					this.isLoading = false   
					console.log('finish');
					this.items = response.data;
				}.bind(this));
			}
		},
		mounted: function () {
			this.isLoading = true;
			this.loadData();
			this.interval = setInterval(function () {
				this.loadData();
			}.bind(this), 3000); 
		},

		beforeDestroy: function(){
			clearInterval(this.interval);
		}
	});


	// Date Time Filter
	Vue.filter('formatDate', function(value) {
		if (value) {
			return moment(String(value)).locale('tr').fromNow();
		}
	});


	// Set Line as Complated
	function setComplated(item, event){

		var id = item.id;

		var btn = $(event.target);
		btn.attr('disabled', 'disabled').html("Onaylanıyor...");
		// setTimeout(function () {
			// btn.removeAttr('disabled').html('Ödeme Al');
			// item.isComplated = true;
		// }, 1000);


		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			} 
		});

		var serialized = $.param({id: id});

		request = $.ajax({
			url: "{% url 'api:line_set_complated' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			console.log(status);
			// app.loadData();
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}


	// Set Line as Paid
	function setPaid(item, event){

		var id = item.id;

		var btn = $(event.target);
		btn.attr('disabled', 'disabled').html("Tamamlanıyor...");
		// setTimeout(function () {
			// btn.removeAttr('disabled').html('Ödeme Al');
			// item.isPaid = true;
		// }, 1000);


		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			} 
		});

		var serialized = $.param({id: id});

		request = $.ajax({
			url: "{% url 'api:line_set_paid' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			console.log(status);
			// app.loadData();
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}

</script>

{% endblock %}

