{% extends 'enterprise/static/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
{% endblock %}

{% block body %}
	<div class="content-wrapper" id="app">
		<div class="container">
			<section class="content-header">
				<h1>Siparişler</h1>

				<ol class="breadcrumb">
					<li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> Anasayfa</a></li>
					<li class="active">Siparişler</li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">

							<div class="box-body table-responsive no-padding">

								<table class="table table-hover" v-show="items.length == 0">
									<tr>
										<th>Şu anda hiç siparişiniz yok!</th>
									</tr>
								</table>
								<table class="table table-hover" v-show="items.length > 0">
									<tr style="font-size: 1.5rem;">
										<!-- <th>#</th> -->
										<th>Masa</th>
										<th>Sipariş</th>
										<th>Sipariş Zamanı</th>
										<th>Toplam Ücret</th>
										<th>İşlemler</th>
									</tr>

									<tr v-for="item in items">
										<!-- <td>
											[[ item[0] ]]
										</td> -->
										<td>
											[[ item[1][0].line__table__name ]]
										</td>
										<td>
											<p v-for="menu in item[1]">
												<b>
													[[ menu.count ]] tane
													[[ menu.menu__name ]]
												</b>
												<br>
												[[ menu.optionsReadable ]]
											</p>
										</td>
										<td>[[ item[1][0].line__orderDate | formatDate ]]</td>
										<td>[[ item[1][0].line__totalPrice ]] ₺</td>
										<td>
											<div v-show="item[1][0].line__isComplated == false" v-on:click="setComplated(item, $event)">
												<button style="height: 5rem" type="button" class="btn btn-block btn-success">Onayla</button>
											</div>
											
											<div v-show="item[1][0].line__isPaid == false && item[1][0].line__isComplated == true" v-on:click="setPaid(item, $event)">
												<button style="height: 5rem" type="button" class="btn btn-block btn-warning">Ödeme Al</button>
											</div>

											<div v-show="item[1][0].line__isPaid == true && item[1][0].line__isComplated == true">
												<b style="color: green">Tamamlandı</b>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="overlay" v-if="isLoading">
								<i class="fa fas fa-sync-alt fa-spin"></i>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block script %}


<script type="text/javascript">

	// Get Lines
	var app = new Vue({
		delimiters: ['[[', ']]'],
		el: '#app',
		data: {
			isLoading: true,
			items: [],
			interval: null,
		},
		
		methods: {
			loadData: function () {
				$.get("{% url 'api:line_get' %}", function (response) {
					this.isLoading = false   
					this.items = response.data;
				}.bind(this));
			},

		},

		mounted: function () {
			this.isLoading = true;
			this.loadData();
			this.interval = setInterval(function () {
				this.loadData();
			}.bind(this), 300);
		},

		beforeDestroy: function(){
			clearInterval(this.interval);
		}
	});


	// Date Time Filter
	Vue.filter('formatDate', function(value) {
		if (value) {
			return moment(String(value)).locale('tr').fromNow();
		}
	});


	// Set Line as Complated
	function setComplated(item, event){

		var id = item[0];

		var btn = $(event.target);
		btn.attr('disabled', 'disabled').html("Onaylanıyor...");
		// setTimeout(function () {
			// btn.removeAttr('disabled').html('Ödeme Al');
			// item.isComplated = true;
		// }, 1000);


		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			} 
		});

		var serialized = $.param({id: id});

		request = $.ajax({
			url: "{% url 'api:line_set_complated' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			console.log(status);
			// app.loadData();
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}


	// Set Line as Paid
	function setPaid(item, event){

		var id = item[0];

		var btn = $(event.target);
		btn.attr('disabled', 'disabled').html("Tamamlanıyor...");
		// setTimeout(function () {
			// btn.removeAttr('disabled').html('Ödeme Al');
			// item.isPaid = true;
		// }, 1000);


		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			} 
		});

		var serialized = $.param({id: id});

		request = $.ajax({
			url: "{% url 'api:line_set_paid' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			console.log(status);
			// app.loadData();
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}

</script>

{% endblock %}

