{% extends 'enterprise/static/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<style type="text/css">
@media screen and (max-width: 480px){
	#orders th:nth-child(3),#orders th:nth-child(4),#orders td:nth-child(3),#orders td:nth-child(4){
    display:none;
  }
}

.free{
	background-color: rgba(250, 0, 0, 0.5) !important;
}
</style>
{% endblock %}

{% block body %}
{% get_current_language as LANGUAGE_CODE %}

	<!-- Modal: setCanceled -->
	<div class="modal fade" id="modal-cancel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'Delete Order' %}</h4>
				</div>

				<div class="modal-body">
					<b><span id="delete-table-name"></span></b> {% trans 'Order will be canceled. Do you confirm?' %}
				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">{% trans 'Cancel' %}</button>
					<button type="button" class="btn btn-danger pull-left" id="button-delete" style="width: 49%; float: left;">{% trans 'Delete' %}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper" id="app">
		<div class="container">
			<section class="content-header">
				<h1>{% trans 'Orders' %}</h1>

				<ol class="breadcrumb">
					<li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> {% trans 'Dashboard' %}</a></li>
					<li class="active">{% trans 'Orders' %}</li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">

							<div class="box-body table-responsive no-padding">

								<table class="table table-hover" v-show="items.length == 0">
									<tr>
										<th>
											{% trans 'You have no orders at the moment!' %}
										</th>
									</tr>
								</table>
								<table class="table table-hover" v-show="items.length > 0" id="orders">
									<tr style="font-size: 1.5rem;">
										<!-- <th>#</th> -->
										<th>{% trans 'Table' %}</th>
										<th>{% trans 'Order' %}</th>
										<th>{% trans 'Order Time' %}</th>
										<th>{% trans 'Total Price' %}</th>
										<th>{% trans 'Operations' %}</th>
									</tr>

									<tr v-for="item in items"
									:style="[item[1][0].line__isComplated == false && item[1][0].line__isCanceled == false ? {'background-color': 'rgba(0, 150, 0, 0.5)'} : {'background': '#FFF'}]">
									<!-- :class="{free: item[1][0].line__id % 10 == 0 && item[1][0].line__isComplated == false }" -->

										<td style="display: none;" class="_line_id">[[ item[1][0].line__id ]]</td>

										<td>
											<a :href="'{% url 'enterprise:table_detail' %}?id=' + [[item[1][0].line__table__id]]">
												<strong class="_table_id">[[ item[1][0].line__table__name ]]</strong>
											</a>
										</td>
										<td style="max-width: 15rem;">
											<p v-for="menu in item[1]">
												<b>
													[[ menu.count ]] {% if LANGUAGE_CODE == 'tr' %}tane{% endif %}
													[[ menu.menu__name ]]
												</b>
												<br>
												[[ menu.optionsReadable ]]
											</p>
										</td>
										<td>[[ item[1][0].line__orderDate | formatDate ]]</td>
										<td>
											{{ request.user.profile.enterprise.currency }} [[ item[1][0].line__totalPrice ]]
										</td>
										<td>
											<div v-show="item[1][0].line__isComplated == false && item[1][0].line__isCanceled == false" v-on:click="setComplated(item, $event)">
												<button :id="item[0]" style="height: 5rem; width: 12rem; float:left; margin-right: 1rem;" type="button" class="btn btn-success">{% trans 'Approve' %}</button>
											</div>

											<div v-show="item[1][0].line__isComplated == false && item[1][0].line__isCanceled == false" v-on:click="setCanceled(item, $event)">
												<button :id="item[0]" style="height: 5rem; width: 7rem; float:left" type="button" class="btn btn-danger">{% trans 'Cancel' %}</button>
											</div>
											
											<div v-show="item[1][0].line__isPaid == false && item[1][0].line__isComplated == true" v-on:click="setPaid(item, $event)">
												<button style="height: 5rem; width: 12rem" type="button" class="btn btn-block btn-warning">{% trans 'Receive Payment' %}</button>
											</div>

											<div v-show="item[1][0].line__isPaid == true && item[1][0].line__isComplated == true">
												<b style="color: green">{% trans 'Complated' %}</b>
											</div>

											<div v-show="item[1][0].line__isCanceled == true">
												<b style="color: red">{% trans 'Cancelled' %}</b>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="overlay" v-if="isLoading">
								<i class="fa fas fa-sync-alt fa-spin"></i>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block script %}


<script type="text/javascript">

	// Get Lines
	var app = new Vue({
		delimiters: ['[[', ']]'],
		el: '#app',
		data: {
			isLoading: true,
			items: [],
			interval: null,
		},
		
		methods: {
			loadData: function () {
				$.get("{% url 'api:line_get' %}", function (response) {
					this.isLoading = false;
					this.items = response.data;
					// console.log(response);
					freeOnes();

					// console.log('=-==');
				}.bind(this));
			},

		},

		mounted: function () {
			this.isLoading = true;
			this.loadData();
			this.interval = setInterval(function () {
				this.loadData();
			}.bind(this), 300);
		},

		beforeDestroy: function(){
			clearInterval(this.interval);
		}
	});


	// Date Time Filter
	Vue.filter('formatDate', function(value) {
		if (value) {
			return moment(String(value)).locale('en').fromNow();
		}
	});



	function freeOnes(){
		
		function unique(arr, comparator) {
		  var uniqueArr = [];
		  for (var i in arr) {
		    var found = false;
		    for (var j in uniqueArr) {
		      if (comparator instanceof Function) {
		        if (comparator.call(null, arr[i], uniqueArr[j])) {
		          found = true;
		          break;
		        }
		      } else {
		        if (arr[i] == uniqueArr[j]) {
		          found = true;
		          break;
		        }
		      }
		    }
		    if (!found) {
		      uniqueArr.push(arr[i]);
		    }
		  }
		  return uniqueArr;
		}

		function reverse(a) {

		  var counter = a.length - 1;

		  for (var i = 0; i < a.length; i++) {

		    var temp = a[i];
		    a[i] = a[counter];
		    counter--;

		  }

		  return a;

		}



		var $tables = [];

		$('._line_id').each(function(i){
		  var order_id = $(this).html();
		  var single_table_id = $(this).parent().find('._table_id').html();
		  var e = $(this).parent().attr({'class': ''});
		  var single_table = [];
		  single_table.push("table_"+single_table_id);
		  single_table.push(order_id);
		  $tables.push(single_table);
		});


		var uniq_tables = []
		for (var i = 0; i < $tables.length; i++) {
		  uniq_tables.push($tables[i][0]);
		}
		uniq_tables = unique(uniq_tables);

		var uniq_tables_array = []
		for (var i = 0; i < uniq_tables.length; i++) {
		  uniq_tables_array.push({"t":uniq_tables[i],"orders":[]})
		}

		for (var i = 0; i < $tables.length; i++) {
		    uniq_tables_array[uniq_tables.indexOf($tables[i][0])].orders.push($tables[i][1])
		}

		for (var i = 0; i < uniq_tables_array.length; i++) {
			
			var tableCounter = 0;

			var orderIDlist = uniq_tables_array[i].orders.reverse();
			for (var a = 0; a < orderIDlist.length; a++) {
				tableCounter = tableCounter + 1;
				var lineID = orderIDlist[a];

				// eger 10 katlariysa
				if(parseInt(tableCounter) % 10 == 0){
					// highlight
					var e = $( "td._line_id:contains('"+lineID+"')").parent().attr({'class': 'free'});
				}
			}
			// console.log('--');
		}


		// console.log(uniq_tables_array);
	}


	var canceledID = null;

	// Set Line as Canceled
	function setCanceled(item, event){

		canceledID = item[0];

		var btn = $(event.target);
		var ttt = $("button[id="+btn.attr('id')+"]");
		
		$('#modal-cancel').modal('show');
	}

	$('#button-delete').click(function(e){
		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			} 
		});

		var serialized = $.param({id: canceledID});

		request = $.ajax({
			url: "{% url 'api:line_set_canceled' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			$('#modal-cancel').modal('hide');
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	});


	// Set Line as Complated
	function setComplated(item, event){

		var id = item[0];

		var btn = $(event.target);
		btn.attr('disabled', 'disabled').html("{% trans 'Approving...' %}");


		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			} 
		});

		var serialized = $.param({id: id});

		request = $.ajax({
			url: "{% url 'api:line_set_complated' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			// console.log(status);
			// app.loadData();
			btn.removeAttr('disabled').html("{% trans 'Approve' %}");
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}


	// Set Line as Paid
	function setPaid(item, event){

		var id = item[0];

		var btn = $(event.target);
		btn.attr('disabled', 'disabled').html("{% trans 'Completing...' %}");
		// setTimeout(function () {
			// btn.removeAttr('disabled').html('Ödeme Al');
			// item.isPaid = true;
		// }, 1000);


		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			} 
		});

		var serialized = $.param({id: id});

		request = $.ajax({
			url: "{% url 'api:line_set_paid' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			// console.log(status);
			// app.loadData();
			btn.removeAttr('disabled').html("{% trans 'Receive Payment' %}");
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}

</script>

{% endblock %}

