{% extends 'enterprise/static/base.html' %}
{% load static %}
{% block body %}


	<!-- Modal: Masa QR Kod -->
	<div class="modal fade" id="modal-qr">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Masa QR Kodu</h4>
				</div>

				<div class="modal-body" style="text-align: center">
					
					<img id="qrCode">

				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">Vazgeç</button>
					<button type="button" class="btn btn-success btn-success pull-left" id="button-print" style="width: 49%; float: left;">Yazdır</button>
				</div>
			</div>
		</div>
	</div>


	
	<!-- Modal: Masa Ekle -->
	<div class="modal fade" id="modal-add">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Masa Ekleme</h4>
				</div>

				<div class="modal-body">
					<input id="add1" type="radio" name="radio-add" value="add-multiple">
					<label for="add1">Toplu masa ekle</label><br>

					<input id="add2" type="radio" name="radio-add" value="add-single">
					<label for="add2">Bir tane masa ekle</label>

					<div id="add-multiple" style="display: none">
						<div class="form-group">
							<hr>
							<label for="table-count">Toplam kaç tane masanız var?</label>
							<input type="text" class="form-control" id="table-count">
							<span class="help-block">Girdiğiniz sayı kadar masa eklenecektir.</span>
						</div>
					</div>

					<div id="add-single" style="display: none">
						<div class="form-group">
							<hr>
							<label for="table-name">Eklemek istediğiniz masa adı nedir?</label>
							<input type="text" class="form-control" id="table-name">
						</div>
					</div>

				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">Vazgeç</button>
					<button type="button" class="btn btn-success btn-success pull-left" id="button-add" style="width: 49%; float: left;">Ekle</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal: Masa Duzenle -->
	<div class="modal fade" id="modal-edit">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Masa Düzenle</h4>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label for="table-count">Masa Numarası</label>
						<input type="text" class="form-control" name="edit-name">
					</div>

					<br>

					<div class="form-group">
						<input id="edit1" type="radio" name="radio-edit" value="active">
						<label for="edit1">Aktif</label><br>

						<input id="edit2" type="radio" name="radio-edit" value="deactive">
						<label for="edit2">Kullanım Dışı</label>

						<span class="help-block">Kullanımda olmayan masaları burdan sistemden çıkartabilirsiniz.</span>
					</div>

				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">Vazgeç</button>
					<button type="button" class="btn btn-success btn-success pull-left" id="button-save" style="width: 49%; float: left;">Kaydet</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal: Masa Sil -->
	<div class="modal fade" id="modal-delete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Masa Sil</h4>
				</div>

				<div class="modal-body">
					<b><span id="delete-table-name"></span></b> numaralı masa silinecektir. Onaylıyor musunuz?
				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 49%; float: left">Vazgeç</button>
					<button type="button" class="btn btn-danger pull-left" id="button-delete" style="width: 49%; float: left;">Sil</button>
				</div>
			</div>
		</div>
	</div>


	<div class="content-wrapper">
		<div class="container">
			
			<section class="content-header">
				<h1>Masa İşlemleri</h1>
				<ol class="breadcrumb">
					<li><a href="{% url 'enterprise:index' %}"><i class="fa fa-home"></i> Anasayfa</a></li>
					<li class="active">Masalar</li>
				</ol>
			</section>

			<section class="content">
				
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}

				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add">
					<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Masa Ekle
				</button>
				
				<br><br>

				
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Masalar</h3>
						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;" style="position: relative">
								<form type="get" action="{% url 'enterprise:table' %}">
									<input type="text" name="search" class="form-control pull-right" style="border-radius:5px; height: 30px; z-index: 1; padding-right: 30px;" placeholder="Arama" value="{{ request.GET.search }}">
								</form>
							</div>
						</div>
					</div>
					<div class="box-body table-responsive">
						<table class="table table-hover">
							{% if tables|length == 0 %}
								<tr>
									<th>Şu anda hiç masa oluşturmadınız!</th>
								</tr>
							{% endif %}
							{% if tables|length != 0 %}
								<tr>
									<th>Masa Numarası</th>
									<th>Durum</th>
									<th>İşlemler</th>
								</tr>
								{% for single in tables %}
									<tr>
										<td class="_name">{{ single.name }}</td>
										<td class="_status">
											{% if single.active == True %}<i class="fa fa-check-circle" style="color: green"></i>{% endif %}
											{% if single.active == False %}<i class="fa fa-times-circle" style="color: red"></i>{% endif %}
										</td>
										<td>
											<button name="item_qr_code" class="btn btn-default btn-sm">QR Kod</button>
											&nbsp;
											<button name="item_edit" class="btn btn-default btn-sm">Düzenle</button>
											&nbsp;
											<button name="item_delete" class="btn btn-danger btn-sm">Sil</button>
										</td>

										<!-- For jQuery -->
										<td style="display: none" class="id">{{ single.id }}</td>
										<td style="display: none" class="barcode">{{ single.barcode }}</td>
									</tr>
								{% endfor %}
							{% endif %}
						</table>
					</div>
						
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">

		// ============================= jQuery Requests ============================================

		function addTable(option, data){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({option: option, data: data});

			request = $.ajax({
				url: "{% url 'api:table_create' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:table' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		function updateTable(id, name, status){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id, name: name, status: status});

			request = $.ajax({
				url: "{% url 'api:table_update' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:table' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}


		function deleteTable(id, name, status){

			// CSRF Token for Django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
				}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
				} 
			});

			var serialized = $.param({id: id});

			request = $.ajax({
				url: "{% url 'api:table_delete' %}",
				type: "post",
				data: serialized
			});


			request.done(function (response, textStatus, jqXHR){
				console.log('Done');
				console.log(response);
				window.location.href = "{% url 'enterprise:table' %}";
				return false;
			});

			request.fail(function (jqXHR, textStatus, errorThrown){
				console.error("The following error occurred: " + textStatus, errorThrown);
			});
		}





		$(document).ready(function(){


			// When Click the edit button, this variable set to selected item's id
			var selectedID = null;


			// ============================= TABLE ITEM BUTTON ============================================

			// EDIT TABLE ITEM

			$("button[name='item_edit']").click(function(e){
				itemID = $(this).parent().parent().find('.id').html();
				itemName = $(this).parent().parent().find('._name').html();
				itemStatus = $(this).parent().parent().find('._status').find('i').attr('class');
				if(itemStatus == 'fa fa-check-circle'){
					$('input[type=radio][id=edit1]').prop('checked', true);
				}else if(itemStatus == 'fa fa-times-circle'){
					$('input[type=radio][id=edit2]').prop('checked', true);
				}

				selectedID = itemID;

				// Fill Edit Form with selected items
				$('input[name="edit-name"]').val(itemName);

				$('#modal-edit').modal('show');
			});


			// DELETE TABLE ITEM

			$("button[name='item_delete']").click(function(e){
				itemID = $(this).parent().parent().find('.id').html();
				itemName = $(this).parent().parent().find('._name').html();

				selectedID = itemID;

				$('span#delete-table-name').html(itemName);

				$('#modal-delete').modal('show');
			});


			// SHOW QR CODE

			$("button[name='item_qr_code']").click(function(e){
				itemID = $(this).parent().parent().find('.id').html();
				itemBarcode = $(this).parent().parent().find('.barcode').html();

				selectedID = itemID;
				
				$('#qrCode').attr('src','https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=https://app.fastermenu.com/redirect/'+itemBarcode);

				$('#modal-qr').modal('show');
			});


			// ================================= MODAL BUTTON ============================================


			// MODAL: UPDATE TABLE

			$('#button-save').click(function(e){

				// Get Edit Form Details

				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("Bekleyin...");

				id = selectedID;
				name = $('input[name="edit-name"]').val();
				option = $('input[type=radio][name=radio-edit]:checked').val();
				if(option == 'active'){ option = true; }
				else { option = false; }

				updateTable(id, name, option);


			});



			// MODAL: DELETE TABLE

			$('#button-delete').click(function(e){

				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("Bekleyin...");

				id = selectedID;
				deleteTable(id);
			});



			// MODAL: ADD TABLE

			$('#button-add').click(function(e){
				var btn = $(event.target);
				btn.attr('disabled', 'disabled').html("Bekleyin...");
				
				option = $('input[type=radio][name=radio-add]:checked').val();
				data = null;
				if(option == 'add-single'){
					data = $('#table-name').val();
				}else if (option == 'add-multiple'){
					data = $('#table-count').val();
				}
				addTable(option, data);
			});

			$('input[type=radio][name=radio-add]').change(function() {
				if (this.value == 'add-multiple') {
					$('#add-multiple').show();
					$('#add-single').hide();
				}
				else if (this.value == 'add-single') {
					$('#add-multiple').hide();
					$('#add-single').show();
				}
			}); 
		});
	</script>
{% endblock %}
