{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'enterprise:index' %}" class="navbar-brand"><b>Faster</b>Menu</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if active_tab == 'order' %} active{% endif %}"><a href="{% url 'enterprise:order' %}">{% trans 'Orders' %}</a></li>
            <!-- <li class="{% if active_tab == 'cash' %} active{% endif %}"><a href="{% url 'enterprise:cash' %}">Kasa</a></li> -->
            <li class="{% if active_tab == 'menu' %} active{% endif %}"><a href="{% url 'enterprise:category' %}">{% trans 'Menu' %}</a></li>
            <li class="{% if active_tab == 'table' %} active{% endif %}"><a href="{% url 'enterprise:table' %}">{% trans 'Tables' %}</a></li>
            <li class="{% if active_tab == 'analyze' %} active{% endif %}"><a href="{% url 'enterprise:analyze' %}">{% trans 'Analyze' %}</a></li>
            <li class="{% if active_tab == 'comment' %} active{% endif %}"><a href="{% url 'enterprise:comment' %}">{% trans 'Comments' %}</a></li>
            <li class="{% if active_tab == 'biot' %} active{% endif %}"><a href="{% url 'enterprise:biot' %}">{% trans 'Biot Settings' %}</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <li class="dropdown tasks-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="text-transform: uppercase">
                {{ LANGUAGE_CODE }}
              </a>
            
            <ul class="dropdown-menu">
              <li>
                <ul class="menu">

                  {% for lang in LANGUAGES %}
                    <li>
                      <a href="{% url 'change_language' lang=lang.0 %}?redirect_to={{request.path}}">
                        <h3>
                          {{ lang.1 }}
                        </h3>
                      </a>
                    </li>
                    {% endfor %}
                </ul>
              </li>
            </ul>
          </li>
            
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                {% if user.profile.enterprise.logo %}
                <img src="{{ user.profile.enterprise.logo.url }}" class="user-image" alt="User Image">
                {% endif %}
                {% if not user.profile.enterprise.logo %}
                <img src="{% static 'plugins/adminlte/dist/img/avatar.png' %}" class="user-image" alt="User Image">
                {% endif %}
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{ user.profile.enterprise }}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  {% if user.profile.enterprise.logo %}
                  <img src="{{ user.profile.enterprise.logo.url }}" class="img-circle" alt="User Image">
                  {% endif %}
                  {% if not user.profile.enterprise.logo %}
                  <img src="{% static 'plugins/adminlte/dist/img/avatar.png' %}" class="img-circle" alt="User Image">
                  {% endif %}

                  <p>
                    {{ user.profile.enterprise }}
                    <!-- <small>Member since Nov. 2012</small> -->
                  </p>
                </li>
                <!-- Menu Body -->
                <!-- <li class="user-body">
                  <div class="row">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </div> -->
                  <!-- /.row -->
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="{% url 'enterprise:profile' %}" class="btn btn-default btn-flat">{% trans 'Settings' %}</a>
                  </div>
                  <div class="pull-right">
                    <a href="{% url 'enterprise:logout' %}" class="btn btn-default btn-flat">{% trans 'Sign Out' %}</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>