{% extends 'registration/static/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

<!-- Content -->
<div class="content">

    <!-- Login Section -->
    <div class="section-block" style="padding: 0; margin: 0; margin-top: 5rem;">
        <div class="row flex v-align-middle">
            <div class="column width-6 offset-3">
                <div>
                    <div class="signup-box box rounded xlarge border-grey-light">
                        <h3>{% trans 'Reset your password?' %}</h3>

                        <div class="login-form-container">

                            <div class="form-response show">
                                {% if form.errors %}
                                    {% for error in form.non_field_errors %}
                                        <div style="color:red; padding-bottom: 5px">
                                            {{ error|escape }}
                                        </div><br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <form class="login-form" action="{% url 'enterprise:password_reset' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="column width-12">
                                        <div class="field-wrapper">
                                            <label class="color-charcoal">{% trans 'Email' %}:</label>
                                            <input type="email" name="email" class="form-username form-element rounded medium" required>
                                        </div>
                                    </div>
                                    <div class="column width-12">
                                        <input type="submit" value="{% trans 'Send verification email' %}" class="form-submit button rounded medium bkg-green bkg-hover-charcoal bkg-focus-green color-white color-hover-white mb-0">
                                    </div>
                                </div>
                            </form>
                            <p class="text-small mt-20 mb-0"><a href="{% url 'enterprise:login' %}">{% trans 'Return to Log In' %}</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Section End -->

</div>
<!-- Content End -->


{% endblock %}