{% extends 'registration/static/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

<!-- Content -->
<div class="content">

	<!-- Login Section -->
	<div class="section-block" style="padding: 0; margin: 0; margin-top: 5rem;">
		<div class="row flex v-align-middle">
			<div class="column width-6 offset-3">
				<div>
					<div class="signup-box box rounded xlarge border-grey-light">
						<h3>{% trans 'Create your free trial' %}</h3>
						<p class="mb-20">{% trans 'Already have an account?' %} <a href="{% url 'enterprise:login' %}" class="no-page-fade">{% trans 'Log In' %}</a></p>
						
						<div class="login-form-container">

							<div class="form-response show">											

								{% if form.errors %}
								    {% for field in form %}
								        {% for error in field.errors %}
								            <div style="color:red; padding-bottom: 20px">
								                {{ error|escape }}
								            </div>
								        {% endfor %}
								    {% endfor %}
								    {% for error in form.non_field_errors %}
								        <div style="color:red; padding-bottom: 20px">
								            {{ error|escape }}
								        </div>
								    {% endfor %}
								{% endif %}

							</div>

							<form class="register-form" action="{% url 'enterprise:register' %}" method="post">
								{% csrf_token %}
								<div class="row merged-form-elements">
									<div class="column width-6">
										<div class="field-wrapper">
											<label class="color-charcoal">{% trans 'First Name' %}:</label>
											<input type="text" name="first_name" class="form-firstname form-element rounded medium" required autocomplete="given-name">
										</div>
									</div>
									<div class="column width-6">
										<div class="field-wrapper">
											<label class="color-charcoal">{% trans 'Last Name' %}:</label>
											<input type="text" name="last_name" class="form-lastname form-element rounded medium" required autocomplete="family-name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="column width-12">
										<div class="field-wrapper">
											<label class="color-charcoal">{% trans 'Email' %}:</label>
											<input type="email" name="email" class="form-email form-element rounded medium"  required autocomplete="email">
										</div>
									</div>
									<div class="column width-12">
										<div class="field-wrapper">
											<label class="color-charcoal">{% trans 'Password' %}:</label>
											<input type="password" name="password1" class="form-password form-element rounded medium" required>
										</div>
									</div>
									<div class="column width-12">
										<div class="field-wrapper">
											<label class="color-charcoal">{% trans 'Bussiness Name' %}:</label>
											<input type="text" name="enterprise" class="form-password form-element rounded medium" required>
										</div>
									</div>
									<div class="column width-12 mt-10">
										<input type="submit" value="{% trans 'Create Account' %}" class="form-submit button rounded medium bkg-green bkg-hover-theme bkg-focus-green color-white color-hover-white no-margins">
									</div>
								</div>
							</form>
							<p class="text-small mt-20">{% trans 'By creating an account you agree to our terms' %} - <a href="#">{% trans 'Read More' %}</a></p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Section End -->

</div>
<!-- Content End -->


{% endblock %}