{% extends 'static/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block body %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Settings for Exam Type(s)
            <small><span style="text-transform: capitalize;">{{request.user.type}}</span> Account</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="box box-primary">
            <form method="post">
                <div class="box-header with-border">
                    <h3 class="box-title">Exam Type Operations</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="box-body">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                            </div>

                        </div>

                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn btn-primary pull-right" style="margin-left:15px">Save</button>
                    <a href="{% url 'manager:exam_category_list' %}"><button type="button" class="btn btn btn-default pull-right">Cancel</button></a>
                </div>
            </form>
        </div>

    </section>


</div>


{% endblock %}
