{% extends 'static/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block body %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Settings for Exam(s)
            <small><span style="text-transform: capitalize;">{{request.user.type}}</span> Account</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">Exam Details</h3>
            </div>

            <form class="form-horizontal">
                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status:</label>
                        <div class="col-sm-9" style="padding-top:7px">
                            {% if data.status == "future" %}
                            <td><span class="badge bg-blue">Awaiting</span></td>
                            {% endif %}
                            {% if data.status == "active" %}
                            <td><span class="badge bg-green">Active</span></td>
                            {% endif %}
                            {% if data.status == "control" %}
                            <td><span class="badge bg-orange">Control</span></td>
                            {% endif %}
                            {% if data.status == "done" %}
                            <td><span class="badge bg-gray">Done</span></td>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Module:</label>
                        <div class="col-sm-9" style="padding-top:7px">{{data.module.name}}</div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Category:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.category.name }}</div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Classes:</label>
                        <div class="col-sm-9" style="padding-top:7px">
                            {% for single in data.classes.all %}
                                {{ single.name }} <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start Date:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.start_date | date:'d.m.Y - H:i' }}</div>
                    </div>

                    {% if data.finish_date %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Finish Date:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.finish_date | date:'d.m.Y - H:i' }}</div>
                    </div>
                    {% endif %}

                    {% if data.control_time %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Control Time:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.control_time }} Days</div>
                    </div>
                    {% endif %}

                    {% if data.writing_feedback %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Writing Feedback:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.writing_feedback }}</div>
                    </div>
                    {% endif %}

                    {% if data.questions_count %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Question Count:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.questions_count }}</div>
                    </div>
                    {% endif %}

                    {% if data.question %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Questions:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word; text-transform: capitalize;">{{ data.question }}</div>
                    </div>
                    {% endif %}

                    {% if data.question_list.all %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Question List:</label>
                        <div class="col-sm-9" style="padding-top:7px">
                            {% for single in data.question_list.all %}
                                {% if single.module.name == "Speaking" %}
                                    <a target="_blank" href="{% url 'manager:exam_question_show' id=single.id %}">{{ single.description }}</a><br>
                                {% else %}
                                    <a target="_blank" href="{% url 'manager:exam_question_show' id=single.id %}">{{ single.question }}</a><br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rubric:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.rubric_id.name }}</div>
                    </div>

                    {% if data.question_split %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ask each student the same question(s):</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.question_split }}</div>
                    </div>
                    {% endif %}

                    {% if data.control_by %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Control By:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">
                            {% if data.control_by == "own" %}
                                Own
                            {% endif %}
                            {% if data.control_by == "other" %}
                                Other Teachers
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if data.control_count %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Control Count:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.control_count }}</div>
                    </div>
                    {% endif %}

                    {% if data.control_list.all %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Control List:</label>
                        <div class="col-sm-9" style="padding-top:7px">
                            {% for single in data.control_list.all %}
                                {{ single.get_full_name }} <br>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Created By:</label>
                        <div class="col-sm-9" style="padding-top:7px; word-wrap:break-word;">{{ data.createdby.get_full_name }}</div>
                    </div>

                </div>

                <div class="box-footer">
                    <div style="float:right">
                        <a href="{% url 'manager:exam_list' %}"><button type="button" class="btn btn btn-default">Back</button></a>
                    </div>
                    <div style="margin-right: 10px; float:right">
                        <a href="{% url 'manager:exam_delete' id=data.id %}"><button type="button" class="btn btn btn-danger">Delete</button></a>
                    </div>
                </div>
            </form>


        </div>

    </section>


</div>


{% endblock %}
