{% extends 'static/base.html' %}

{% load static %}

{% block body %}

<div class="content-wrapper">
	 <!-- Content Header (Page header) -->
	 <section class="content-header">
		 <h1>
			 Settings for Exam(s)
			 <small><span style="text-transform: capitalize;">{{request.user.type}}</span> Account</small>
		 </h1>
	</section>

	 <!-- Main content -->
	 <section class="content">

		 {% if messages %}
			 {% for message in messages %}
				 <div class="alert alert-success alert-dismissible" role="alert">
				   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				   {{ message }}
				 </div>
			 {% endfor %}
		 {% endif %}

		 <div class="row">

			 <div class="col-xs-12">

				 <div class="box box-primary">

					 <div class="box-header">
						 <h3 class="box-title">Exams</h3>
					 </div>

					 <div class="box-body table-responsive">
						 <table class="table table-hover">
						 	{% if data|length == 0 %}
                                <tr>
                                <th>This looks empty!</th>
                            </tr>
                            {% endif %}
                            {% if data|length != 0 %}
							 <tr>
								 <th>Status</th>
								 <th>Module</th>
								 <th>Type</th>
								 <th>Classes</th>
								 <th>Start Date</th>
								 <th>Created By</th>
								 <th>Actions</th>
							 </tr>
							{% for single in data %}
							 <tr>
								 {% if single.status == "future" %}
								 <td><span class="badge bg-blue">Awaiting</span></td>
								 {% endif %}
								 {% if single.status == "active" %}
								 <td><span class="badge bg-green">Active</span></td>
								 {% endif %}
								 {% if single.status == "control" %}
								 <td><span class="badge bg-orange">Control</span></td>
								 {% endif %}
								 {% if single.status == "done" %}
								 <td><span class="badge bg-gray">Done</span></td>
								 {% endif %}
								 <td>{{ single.module }}</td>
								 <td>{{ single.category }}</td>
								 <td>
									 {% for class in single.classes.all %}
										 {{ class.name }}<br>
									 {% endfor %}
								 </td>
								 <td>{{ single.start_date | date:'d.m.Y - H:i' }}</td>
								 <td>{{ single.createdby.get_full_name }}</td>
								 <td>
									 <a href="{% url 'manager:exam_show' id=single.id %}">
										 <button class="btn btn-default btn-sm">Show</button>
									 </a>
								 </td>
							 </tr>
							 {% endfor %}
							 {% endif %}
						 </table>
					 </div>
				 </div>

			 </div>

		 </div>

	 </section>
</div>

{% endblock %}