{% extends 'static/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block head %}
<style rel="stylesheet">
    input[type=file]{
        display:none;
    }
    .inputfile + label {
        width: 150px;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 7px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid #ddd;
        border-radius: 3px;
        color: #fff;
        background-color: #00A65A;
    }
    .inputfile:focus + label,
    .inputfile.has-focus + label,
    .inputfile + label:hover {
        border: 1px solid #adadad;
        background-color: #00A65A;
    }
</style>
{% endblock %}

{% block body %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Settings for Student(s)
            <small><span style="text-transform: capitalize;">{{request.user.type}}</span> Account</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">

                <div style="float:left; margin-bottom: 10px;">
                    <a href="{% url 'manager:student_example_file' %}">
                        <button type="button" class="btn btn-primary">Sample Excel Form&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></button>
                    </a>
                </div>
                <div style="margin-left: 10px; float:left; margin-right: 10px; margin-bottom: 10px;">
                    <form action="{% url 'manager:student_upload_excel' %}" method="POST" name="form" id="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file-excel" id="file-excel" class="inputfile inputfile-1" onchange="this.form.submit()"/>
                        <label for="file-excel"><span>Upload Excel List&nbsp;&nbsp;&nbsp;<i class="fa fa-upload" aria-hidden="true"></i></span></label>
                    </form>
                </div>

                    
            </div>
        </div>


        <div class="box box-primary" style="margin-top: 8px;">
            <div class="box-header with-border">
                <h3 class="box-title">Upload Instructions</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="box-body" style="font-size: 18px;">
                            
                            <p><b>STEP 1.</b> Click on <img src="{% static 'img/sample_excel.png' %}" height="35px"> to download which is the default form of the module.</p>
                            <br>

                            <p><b>STEP 2.</b> Include the list of the students into the downloaded excel form. Please, do not change the layout of the excel form. Just include the requested data, save it and close the excel form.</p>
                            <br>

                            <p><b>STEP 3.</b> Click on <img src="{% static 'img/upload_excel.png' %}" height="35px"> to upload the excel file which consists of the list of the students.</p>


                        </div>

                    </div>

                </div>
            </div>



            <div class="box-footer">
                <a href="{% url 'manager:student_list' %}"><button type="button" class="btn btn btn-default pull-right">Back</button></a>
            </div>
        </div>

    </section>


</div>


{% endblock %}
