{% extends 'static/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block body %}

<!-- Modal -->
{% if id %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-orange">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p>Warning! If you delete the user into the the teacher group, the grades given by the teacher are not deleted.</p>
            </div>
            <div class="modal-footer">
                <div style="float:right">
                    <a href="{% url 'manager:teacher_delete' id=id %}">
                        <button type="button" class="btn btn-danger">Understand, Delete</button>
                    </a>
                </div>
                <div style="margin-right: 10px; float: right;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Settings for Teacher(s)
            <small><span style="text-transform: capitalize;">{{request.user.type}}</span> Account</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="box box-primary">
            <form method="post">
                <div class="box-header with-border">
                    <h3 class="box-title">Teacher Operations</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="box-body">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                            </div>

                        </div>

                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn btn-primary pull-right" style="margin-left:10px">Save</button>
                    {% if id %}
                    <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal" style="margin-left: 10px;">Delete</button>
                    <a href="{% url 'manager:teacher_list' %}"><button type="button" class="btn btn btn-default pull-right">Cancel</button></a>
                        <a href="{% url 'manager:teacher_reset' id=id %}"><button type="button" class="btn btn btn-default">Reset Password</button></a>
                    {% endif %}
                </div>
            </form>
        </div>

    </section>


</div>


{% endblock %}
