option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "fastermenu.settings"
    PYTHONPATH: "/opt/python/current/app/fastermenu/fastermenu/:$PYTHONPATH"
    PRODUCTION: "true"
    # RDS_DB_NAME: "fasterdb"
    # RDS_HOSTNAME: "fastermenu-db-prod.ccgtp665sryr.eu-central-1.rds.amazonaws.com"
    # RDS_PASSWORD: "faster(MENU)"
    # RDS_PORT: "5432"
    # RDS_USERNAME: "fasteruser"
  aws:elasticbeanstalk:container:python:
    WSGIPath: fastermenu/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"