option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "fastermenu.settings"
    PYTHONPATH: "/opt/python/current/app/fastermenu/fastermenu/:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: fastermenu/wsgi.py
    NumProcesses: 3
    NumThreads: 20