option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "fasterMenu.settings"
    PYTHONPATH: "/opt/python/current/app/fasterMenu/fasterMenu/:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: fasterMenu/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  # aws:elasticbeanstalk:container:python:staticfiles:
  #   "/static/": "www/static"