# option_settings:
#    - namespace: aws:elasticbeanstalk:application
#      option_name: Application Healthcheck URL
#      value: "/health/"

# Resources:
#   AWSEBAutoScalingGroup:
#     Type: "AWS::AutoScaling::AutoScalingGroup"
#     Properties:
#       HealthCheckType: ELB
#       HealthCheckGracePeriod: 600