{% load static %}
<!-- Header -->
<header class="header">
	
	<div class="header-inner">
		<div class="row nav-bar">
			<div class="column width-12 nav-bar-inner">
				
				<div class="logo">
					<div class="logo-inner">
						<a class="no-page-fade" href="https://fastermenu.com"><img src="{% static 'registration/images/logo2.png' %}" alt="FasterMenu Logo" /></a>
						<a class="no-page-fade" href="https://fastermenu.com"><img src="{% static 'registration/images/logo2.png' %}" alt="FasterMenu Logo" /></a>
					</div>
				</div>

				<nav class="navigation nav-block primary-navigation nav-right sub-menu-indicator">
					<ul>
						<li>
							<!-- Button -->
							<div class="v-align-middle">
								<a href="contact-style-two.html" class="weight-semi-bold color-green">Yardım</a>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- Header End -->