/* ---- ALL ****------------------------------------------------- */

*{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Noto Sans', sans-serif;
	font-weight: 500;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.clear{
	margin: 0 !important;
	padding: 0 !important;
	clear: both;
}

body, html{
	height: 100%;
}

/* order/index.html - Alt taraftaki sepetim bolumu icin padding */
.container-index{
	padding-bottom: 100px;
}




/* ---- HEADER -------------------------------------------------- */

.header{
	/*background: #219764;*/
	/*background: red;*/
	/*background: #F7F7F7;*/
	height: 3rem;
	z-index: 3;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #ECEDF2;
	/*-webkit-box-shadow: 0px 0px 12px -5px #000000; */
	/*box-shadow: 0px 0px 12px -9px #000000;*/
}

.header .back{
	position: absolute;
	top: 2px;
	left: 16px;
	font-size: 1.8rem;
}

.header .back a{
	color: white;
}

.header .logo{
	height: 1.5rem;
	margin-top: 0.8rem;
	/*line-height: 2.5rem;*/
}



.alert-main{
	position: fixed;
	z-index: 4;
	left: 10px;
	right: 10px;
	top: 20px;
}


/* ---- ORDER MAIN ---------------------------------------------------- */

.enterprise{
	background: #fff;
	padding: 0 10px;
}

.enterprise img{
	display: block;
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.enterprise .titleDiv {
	padding-top: 20px;
	padding-left: 10px;
}
.enterprise .titleDiv .name {
	font-weight: bold;
	font-size: 20px;
}

.enterprise .titleDiv .location {
	padding-top: 5px;
}
.enterprise .titleDiv .table {
	padding-top: 5px;
}

/* SEARCH BAR */


.search{
	height: 60px;
	background-color: #F7F7F7;
}

.search .searchInput{
	width: 90%;
	height: 40px;
	background: white;
	border-radius: 5px;
	margin-left: 5%;
	border: 1px solid #D0D0D0;
	margin-top: 10px;
	padding: 20px;
	padding-left: 40px;
	background: white url('/static/img/search.png') 9px no-repeat;
	background-size: 20px;
	-webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.search .searchInput:focus {
    width: 94%;
    margin-left: 3%;
    outline: 0;
}


/* MENU CONTENT */


/* --- Menu Title --- */
.menu-title  .head{
	padding-left: 10px;
	padding-top: 5px;
	border-bottom: 1px solid #E3E3E3;
	background: #F7F7F7;
}
.menu-title  .special{
	padding: 5px 10px;
	border: 1px solid #5AB38E;
	border-left: 6px solid #5AB38E;
	border-bottom: 2px solid #5AB38E;
	border-radius: 5px;
	background: white;
	margin: 10px;
}
.menu-title  .head .name{
	font-size: 16px;
	padding: 10px 5px;
	color: #2F9465;
	font-weight: 600;
	clear: both;
}




.menu-item{
	border-bottom: 1px solid #E3E3E3;
}


.menu-item .add{
	width: 30px;
	height: 60px;
	margin: auto;
	padding-top: 15px;
}
.menu-item .add i{
	cursor: pointer;
	font-size: 30px;
	color: green;
}

.menu-item .add .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* --- Menu Content - Title Sub --- */

.menu-item .record a .title{
}
.menu-item .record a .title .main{
	color: black;
	font-size: 1rem;
	padding-top: 0.5rem;
}
.menu-item .record a .title .sub{
	font-size: 0.75rem;
	color: #777777;
	padding-top: 0.1rem;
	padding-bottom: 0.5rem;
}
.menu-item .record a:hover{
	text-decoration: none;
}

/* --- Menu Content - Price --- */

.menu-item .price{
	text-align: right;
	font-size: 1rem;
	line-height: 60px;
	text-align: right;
	color: #F98B4E;
	padding-right: 10px;
}




/* ---- SEPETIM --------------------------------------------------- */


.index-cart{
	position: fixed;
	height: 70px;
	bottom: 20px;
	right: 40px;
	border-radius: 50px; 
	background: #2F9465;
}

.index-cart .cart-text{
	font-size: 1.2rem;
	font-weight: 600;
	float: right;
	padding-left: 1.5rem;
}

.index-cart .cart-count{
	font-size: 1.2rem;
	font-weight: 600;
	float: right;
	padding-left: 0.5rem;
}

.index-cart .cart-icon{
	float: right;
	width: 70px;
}

.index-cart a{
	text-align: center;
	color: white;
	font-size: 25px;
	line-height: 70px;
	font-weight: normal;
}

.index-cart a:hover{ text-decoration: none; }





/* ---- DETAILS --------------------------------------------------- */


.details{
	padding-bottom: 20px;
	border-bottom: 1px solid #EFEFEF;
}
.details img{
	display: block;
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-top: 10px;
	margin-left: 10px;
}
.details .product{
	margin-top: 12px;
}
.details .product .name{
	font-weight: 500;
	font-size: 1.2rem;
}
.details .product .description{
	font-size: 0.9rem;
	padding-top: 8px;
	line-height: 18px;
	margin-right: 10px;
}



.stock{
	height: 65px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 5px;
}
.stock .number{
	float: left;
	margin: 10px 20px;
	padding: 0 10px;
	background: white;
	border: 1px solid #F2F1FA;
	border-radius: 4px;
}
.stock .number i{
	float: left;
	line-height: 40px;
	font-size: 25px;
	color: #309566;
	cursor: pointer;
}
.stock .number .count{
	float: left;
	padding: 0 20px;
	font-size: 17px;
	line-height: 40px;
}
.stock .price{
	float: right;
	color: #309566;
	line-height: 60px;
	padding-right: 20px;
	font-size: 19px;
	font-weight: 600;
}

.stock .price span{
	font-weight: 600;
}





.option{
	padding: 20px 10px;
	background: #F7F7F7;
	border-bottom: 1px solid #EFEFEF;
	/*padding-bottom: 10px;*/
}
.option .title{
	color: #309566;
	font-weight: 600;
	font-size: 1rem;
	/*border-bottom: 2px solid #309566;*/
	padding-bottom: 5px;
}
.option .subtitle{
	font-size: 0.8rem;
	color: #777777;
}

/* DROPADD MENU */

.option .content-dropadd ul{
	margin: 0;
	padding: 0;
	border: 1px solid #E4E4E4;
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
}
.option .content-dropadd li{
	float: left;
	cursor: pointer;
	list-style: none;
	padding: 5px 10px;
	font-size: 1rem;
	border: 1px solid black;
	border-radius: 8px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.option .content-dropadd li.delete{
	text-decoration:line-through;
	border-color: red;
	color: red;
}


/* DROPDOWN MENU */

.option .content-dropdown{
	background: #fff;
	margin-top: 10px;
}


.container-radio {
	border: 1px solid #E4E4E4;
    display: block;
    position: relative;
    margin: 0;
    margin-top: -1px;
    padding: 15px 0;
    padding-left: 60px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio .extra{
	float: right;
	font-size: 16px;
	padding-right: 15px;
}
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
}






.add-bucket{
	padding-top: 10px;
	/*border-top: 1px solid #D6D6D6;*/
	background: #F7F7F7;
	/*background: white;*/
}
.add-bucket a .bucket-button{
	cursor: pointer;
	background: #309566;
	color: white;
	text-align: center;
	border-radius: 5px;
	font-size: 17px;
	/*letter-spacing: 0.5px;*/
	margin: 10px;
	padding: 15px;
	margin-bottom: 40px;
	font-weight: 600;	
}

.add-bucket a:hover{
	text-decoration: none;
}



/* ---- CART --------------------------------------------------- */


/* - Title - */
.cart{
	padding: 10px;
	border-bottom: 1px solid #309566;
	background: #F7F7F7;
}
.cart .back{
	position: absolute;
	font-size: 1.8rem;
	padding-left: 10px;
	line-height: 30px;
}
.cart .back a{
	color: #309566;
}
.cart .title{
	/*text-align: center;*/
	font-size: 1.3rem;
	padding-left: 10px;
	line-height: 30px;
}



.cart-items{
	margin-top: 10px;
	margin-bottom: 124px;
}

.cart-items .item{
	margin: 0 15px;
	padding: 0;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #F3F3F3;
}

.cart-items .item .count{
	border: 1px solid #309566;
	line-height: 18px;
	border-radius: 5px;
	color: black;
	text-align: center;
	padding: 7px 4px;
	margin-top: 5px;
	cursor: pointer;
}
.cart-items .item .titles {
	margin-left: 15px;
	cursor: pointer;
}
.cart-items .item .titles .title{
	font-size: 1rem;
	color: black;
}
.cart-items .item .titles .subtitle{
	font-size: 0.8rem;
	color: #9A9A9A;
	padding-top: 5px;
}
.cart-items .item .price{
	font-size: 1rem;
	color: #219764;
	font-weight: bold;
	text-align: right;
}
.cart-items .item .price span{
	font-weight: bold;
}



.cart-empty{
	display: table;
	position: absolute;
	height: 80%;
	/*margin-bottom: 220px;*/
	width: 100%;
}

.cart-empty .middle {
	display: table-cell;
	vertical-align: middle;
}

.cart-empty .inner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cart-empty i{
	text-align: center;
	font-size: 5rem;
	color: #9B9B9B;
}
.cart-empty .desc{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	color: #222222;
}
.cart-empty a .back{
	width: 70%;
	margin: auto;
	background: #2D2D2D;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
}

.cart-empty a:hover{
	text-decoration: none;
}




.total{
	position: fixed;
	bottom: 75px;
	right: 0;
	left: 0;
	background: #F5F5F5;
	border-bottom: 1px solid #D1D1D1;
	border-top: 1px solid #D1D1D1;
	padding: 5px 15px;
}


.total .amount{
}

.total .amount .title{
	float: left;
	color: #219764;
	font-size: 1.2rem;
	padding: 5px 0;
	font-weight: bold;
}
.total .amount .price{
	float: right;
	padding: 5px 0;
	font-size: 1.2rem;
	font-weight: bold;
	color: #219764;
}




.order{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	margin-left: 15px;
	margin-right: 15px;
	background: white;
	
}

.order .inside{
	/*margin: 15px 0;*/
	margin-bottom: 15px;
}
/*.total .amount{
	margin: 0 10px;
	border: 1px solid #D7D7D7;
	color: #219764;
	border-radius: 5px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}*/
.order a .button{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	background: #219764;
	color: white;
	border-radius: 5px;
	font-size: 17px;
	line-height: 50px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-align: center;
}

.order a:hover{
	text-decoration: none;
}





/* ---- CARD MODAL -----  */

.stock-modal{
	width: 100%;
	margin: auto;
}
.stock-modal .number{
	width: 200px;
	margin: 10px auto;
	padding: 0 10px;
	background: white;
	border: 1px solid #F2F1FA;
	border-radius: 4px;
	position: relative;
}
.stock-modal .number i{
	line-height: 60px;
	font-size: 2.5rem;
	color: #309566;
	cursor: pointer;
}
.stock-modal .number #right{
	position: absolute;
	top: 0;
	right: 10px;
}
.stock-modal .number #left{
	position: absolute;
	top: 0;
	left: 10px;
}
.stock-modal .number .count{
	line-height: 60px;
	text-align: center;
	padding: 0 20px;
	font-size: 1.1rem;
}


/* ---- COMPLATED ------------------------------------------------ */



.complated{
	margin: 4rem 0;
}

.complated .pic{
	width: 6rem;
	margin: auto;
}
.complated .pic img{
	width: 6rem;
}
.complated .desc{
	text-align: center;
	margin: 2rem 0;
	font-size: 1.2rem;
	font-weight: 600;
	color: #222222;
}
.complated .desc_sub{
	text-align: center;
	margin: 2rem 0;
	font-size: 1rem;
	color: #9B9B9B;
}
.complated a .button{
	width: 70%;
	margin: auto;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.complated a .style-red{ background: red; }
.complated a .style-gray{ background: #2D2D2D; }
.complated a .style-green{ background: green; }
.complated a .style-orange{ background: orange; }

.complated a:hover{
	text-decoration: none;
}



/*
@media only screen and (min-width: 401px) {
	.complated .pic{ margin-top: 10rem; }
	.complated .track{ margin-top: 9rem; }
}

@media only screen and (max-width: 400px) {
	.complated .pic{ margin-top: 7rem; }
	.complated .track{ margin-top: 6rem; }
}

@media only screen and (max-width: 320px) {
	.complated .pic{ margin-top: 5rem; }
	.complated .track{ margin-top: 3rem; }
}




/* ---- TRACK --------------------------------------------------- */


/* - Title - */
.main-title{
	padding: 10px;
	border-bottom: 1px solid #ECEDF2;
	background: #F7F7F7;
}
.main-title .text{
	/*text-align: center;*/
	font-size: 1.3rem;
	padding-left: 10px;
	line-height: 30px;
}


.track{}

.track .icons{
	width: 80%;
	max-width: 300px;
	margin: auto;
	margin-top: 1rem;
	position: relative;
}

.track .icons .item{
	text-align: center;
}

.track .icons .item i{
	font-size: 2rem;
	padding: 10px;
}

.track .icons .item i.check{
	color: #309566;
}



.track .icons .arrow{
	position: absolute;
	top: 0;
	left: 0.8rem;
	right: 0.8rem;
	bottom: 0;
}

.track .icons .arrow .item-arrow{
	position: absolute;
	left: 4.7rem;
}
.track .icons .arrow .item-arrow-2{
	right: 4.7rem;
	position: absolute;
}

.track .icons .arrow i{
	font-size: 2rem;
	padding: 10px;
	color: #E5E5E5;
}

.track-status{
	margin-top: 1rem;
	/*text-align: center;*/
}

.track-enterprise{
	margin-bottom: 1rem;
}


.track-order{
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
.track-order .order-item{
	/*margin-top: 0.2rem;*/
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 0.8rem;
	padding-top: 0.8rem;
}
.track-order .order-item .o-title{}
.track-order .order-item .o-option{
	font-size: 1rem;
	color: #9A9CAA;
}
.track-order .order-item .o-price{
}

.track-order .order-detail{
	padding-top: 0.8rem;
}

.track-order .order-detail .green{
	color: #3A9368;
}


.o-comment{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.o-comment .o-com{
	margin-bottom: 0.5rem
}
.o-comment .o-date{
	font-size: 0.8rem;
	color: #9A9CAA;
}


/* ---- 404 --------------------------------------------------- */


.not_found{
	margin-top: 6rem;
	text-align: center;
	padding: 0 1.5rem;
}

.not_found img.plate{
	width: 10rem;
}

.not_found .main{
	margin-top: 4rem;
	font-size: 2rem;
}
.not_found .sub{
	margin-top: 1rem;
	font-size: 1.2rem;
	color: #9B9B9B;
	line-height: 2rem;
}
.not_found .sub2{
	margin-top: 1rem;
	font-size: 1.2rem;
	color: #9B9B9B;
	line-height: 2rem;
}

.not_found .link{
	margin-top: 3rem;
	margin-bottom: 6rem;
}


.not_found .link a{
	margin: auto;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	padding: 1.2rem;
	border-radius: 3px;
	margin-bottom: 1rem;
	margin-top: 1rem;
	background: #2D2D2D;
}

