{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<div class="row header">

    <!-- Logo -->
    <div class="col clear">
    	{% if backButton %}
    	<div class="back">
    		<a href="/order">
    			<i class="fas fa-chevron-circle-left"></i>
    		</a>
    	</div>
    	{% endif %}
    	<a href="/order">
        	<img src="{% static 'img/logo2.png' %}" class="logo">
        </a>
    </div>

    <div class="dropdown language">
      <a href="#" data-toggle="dropdown" class="btn btn-default lang-button" style="height: 2rem;">
        <!-- <span style="padding-right: 0.2rem;"><i class="fas fa-globe-americas"></i></span> -->
        <span style="text-transform: uppercase;">{{ LANGUAGE_CODE }}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        {% for lang in LANGUAGES %}
        <a class="dropdown-item lang-option {% if lang.0 == LANGUAGE_CODE %}active{% endif %}" href="{% url 'change_language' lang=lang.0 %}?redirect_to={{request.path}}">{{ lang.1 }}</a>
        {% endfor %}
      </ul>
    </div>

</div>