{% extends 'order/static/base.html' %}
{% load static %}

{% block body %}

<!-- Delete Modal -->
<div class="modal fade" id="modal-delete">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">
					<div id="modal-delete-title"></div>
				</h4>
			</div>

			<div class="modal-body">
				<div id="modal-delete-body"></div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-block" id="button-delete">Sil</button>
			</div>

		</div>
	</div>
</div>


<!-- Modal Count -->
<div class="modal fade" id="modal-count">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Adet Sayısı</h4>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="row stock-modal">
					<div class="col-12 clear">
						<div class="number">
							<div id="right"><a href="#"><i id="plus" class="fas fa-plus-circle"></i></a></div>
							<div class="count"><span id="count">1</span> Adet</div>
							<div id="left"><a href="#"><i id="minus" class="fas fa-minus-circle"></i></a></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal" style="width: 50%">Vazgeç</button>
				<button type="button" class="btn btn-success" style="width: 50%" id="button-update">Güncelle</button>
			</div>

		</div>
	</div>
</div>


<div class="row cart">
	<div class="col clear">
		<div class="back" style="display: none">
			<a href="/order">
				<i class="fas fa-chevron-circle-left"></i>
			</a>
		</div>
		<div class="title"> Sepetim</div>
	</div>
</div>


{% if cart %}
<div class="row cart-items">
	<div class="col-12 clear">

			{% for item in cart %}
			<div class="row item">

				<div id="menu_id" style="display: none;">{{ item.id }}</div>
				
				<div class="col-1 clear">
					<div class="count">{{ item.count }}</div>
				</div>
				<div class="col-8 clear">
					<div class="titles">
						
							<div class="title">{{ item.name }}</div>
							<div class="subtitle">
								{% if item.options == "-1" %}
									{{ item.description }}
								{% endif %}

								{% if item.options != "-1" %}
									{% for i in item.options_option %}
										{{ i }}{% if not forloop.last %}, {% endif %}
										{% if forloop.last %}<br>{% endif %}
									{% endfor %}
								{% endif %}

								{% if item.options != "-1" %}
									{% for i in item.options_dropadd %}
										{{ i }}{% if not forloop.last %}, {% endif %}
										{% if forloop.last %} hariç.{% endif %}
									{% endfor %}
								{% endif %}
							</div>
							<div class="options" style="display: none;">{{ item.options }}</div>
						<!-- </a> -->
					</div>
				</div>
				<div class="col-3 clear">
					<div class="price"><span id="price">{{ item.totalPrice|floatformat:2 }}</span> TL</div>
				</div>
				<div class="clear"></div>
				
			</div>
			{% endfor %}
	</div>
</div>


<div class="row total">
	<div class="col">
		<div class="amount">
			<div class="title">Ödenecek Tutar:</div>
			<div class="price">{{ total|floatformat:2 }} TL</div>
		</div>
	</div>
</div>


<div class="row order">
	<!-- <div class="col-6 clear">
		<div class="amount">{{ total|floatformat:2 }} TL</div>
	</div> -->
	<div class="col-12 clear">
		<div class="inside">
			<a href="{% url 'order:complated' %}">
				<div class="button">SİPARİŞ VER</div>
			</a>
		</div>
	</div>
</div>

{% endif %}

{% if not cart %}
<div class="row cart-empty">
	<div class="middle">
		<div class="inner">
			<i id="basket" class="fas fa-shopping-basket"></i>
			<div class="desc">Sepetinizde ürün bulunmuyor.</div>
			<a href="{% url 'order:index' %}">
				<div class="back">Menüye Dön</div>
			</a>
		</div>
	</div>
</div>
{% endif %}


{% endblock %}


{% block js %}

<script type="text/javascript">

	
	function deleteBudget(id, price, count, option){

	  // CSRF Token for Django
	  $.ajaxSetup({
		beforeSend: function(xhr, settings) {
		  function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
			  var cookies = document.cookie.split(';');
			  for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
				  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				  break;
				}
			  }
			}
			return cookieValue;
		  }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		  }
		} 
	  });

	  // Option List to Json String

	  var serialized = $.param({id: id, price: price, option: option, count: count});

	  request = $.ajax({
			url: "{% url 'api:cart_delete' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			window.location.href = "{% url 'order:cart' %}";
			return false;
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}

	function updateCountBudget(id, price, count, option){

	  // CSRF Token for Django
	  $.ajaxSetup({
		beforeSend: function(xhr, settings) {
		  function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
			  var cookies = document.cookie.split(';');
			  for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
				  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				  break;
				}
			  }
			}
			return cookieValue;
		  }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		  }
		} 
	  });

	  var serialized = $.param({id: id, price: price, option: option, count: count});


	  request = $.ajax({
			url: "{% url 'api:cart_update_count' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			window.location.href = "{% url 'order:cart' %}";
			return false;

		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}



	$(document).ready(function(){

		// Sadece modal dialoglar acilinca guncellenir
		// Sadece modal dialoglardan basilan butonlarin calistirdigi funclarda kullanilir
		var temp_id;
		var temp_count;
		var temp_options;
		var temp_price;



		$('.titles').click(function(e){
			element = $(this).parent().parent();
			menuTitle = $(this).find('.title').html();
			menuSubTitle = $(this).find('.options').html();
			menuOptions = $(this).find('.subtitle').html();
			menuPrice = element.find('#price').html();
			menuCount = element.find('.count').html();
			menuId = element.find('#menu_id').html();

			temp_id = parseInt(menuId);
			temp_count = parseInt(menuCount);
			temp_options = menuSubTitle;
			temp_price = parseFloat(menuPrice);

			$('#modal-delete-title').html(menuTitle);
			$('#modal-delete-body').html(menuOptions);

			$('#modal-delete').modal('show');

		});

		$('#button-delete').click(function(e) {
			deleteBudget(temp_id, temp_price, temp_count, temp_options);
		});



	  // ------------ ITEM COUNT ------------------------------


	  $('.count').click(function(e){
		element = $(this).parent().parent();
		menuTitle = element.find('.title').html();
		menuSubTitle = element.find('.options').html();
		menuPrice = element.find('#price').html();
		menuCount = element.find('.count').html();
		menuId = element.find('#menu_id').html();

		temp_id = parseInt(menuId);
		temp_count = parseInt(menuCount);
		temp_options = menuSubTitle;
		temp_price = parseFloat(menuPrice);

		$('span#count').html(menuCount);

		$('#modal-count').modal('show');

	  });


	  $('#button-update').click(function(e) {
		updateCountBudget(temp_id, temp_price, temp_count, temp_options);
	});



		// When click the plus button (item count)
	  $(".fa-plus-circle").click(function(e){
		e.preventDefault();
		$('span#count').html(temp_count+1);
		temp_count = temp_count + 1;
	  });

	  // When click the minus button (item count)
	  $(".fa-minus-circle").click(function(e){
		e.preventDefault();
		if(temp_count > 1){
			$('span#count').html(temp_count-1);
			temp_count = temp_count - 1;
		}
	  });





	  // ------------ DROPADD ------------------------------

	  // When click the DropAdd options
	  $("li#options").click(function(e){
		e.preventDefault();
		var element = $(this);
		
		// Mark li element as a removed class
		if(element.attr('class')){
			element.removeClass('delete');
		}else{
			element.addClass('delete');	
		}

		// Get subcategory id
		var d = element.children().attr('id');
	  });


	  // ------------ DROPDOWN ------------------------------

	  // When Clicked Dropdown Options
	  $("label.container-radio").mousedown(function (e) {
		var element = $(this);
		var d = element.children().attr('id');
		var extra = parseFloat(element.find("#price").html());
		extraPrice = extra;
		updatePrice();
	  });

	});


</script>
{% endblock %}

