{% extends 'order/static/base.html' %}
{% load static %}
{% load i18n %}
{% load floatdot %}

{% block body %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Delete Modal -->
<div class="modal fade" id="modal-delete">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">
					<div id="modal-delete-title"></div>
				</h4>
			</div>

			<div class="modal-body">
				<div id="modal-delete-body"></div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-block" id="button-delete">{% trans 'Delete' %}</button>
			</div>

		</div>
	</div>
</div>


<!-- Modal Count -->
<div class="modal fade" id="modal-count">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">{% trans 'Edit Piece' %}</h4>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="row stock-modal">
					<div class="col-12 clear">
						<div class="number">
							<div id="right"><a href="#"><i id="plus" class="fas fa-plus-circle"></i></a></div>
							<div class="count"><span id="count">1</span> {% trans 'Piece' %}</div>
							<div id="left"><a href="#"><i id="minus" class="fas fa-minus-circle"></i></a></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal" style="width: 50%">{% trans 'Cancel' %}</button>
				<button type="button" class="btn btn-success" style="width: 50%" id="button-update">{% trans 'Update' %}</button>
			</div>

		</div>
	</div>
</div>


<div class="row main-title">
	<div class="col clear">
		<div class="text"> {% trans 'Cart' %}</div>
	</div>
</div>


{% if cart %}
<div class="row cart-items">
	<div class="col-12 clear">

			{% for item in cart %}
			<div class="row item">

				<div id="menu_id" style="display: none;">{{ item.id }}</div>
				
				<div class="col-1 clear">
					<div class="count">{{ item.count }}</div>
				</div>
				<div class="col-8 clear">
					<div class="titles">
						
							<div class="title">{{ item.name }}</div>
							<div class="subtitle">
								{% if item.options == "-1" %}
									{% if item.description %}
						                {{ item.description }}
						              {% endif %}
								{% endif %}

								{% if item.options != "-1" %}
									{% for i in item.options_option %}
										{{ i }}{% if not forloop.last %}, {% endif %}
										{% if forloop.last %}<br>{% endif %}
									{% endfor %}
								{% endif %}

								{% if item.options != "-1" %}
									{% for i in item.options_dropadd %}
										{% if forloop.first %}
											{% if LANGUAGE_CODE == 'en' %}
												Without 
											{% endif %}
										{% endif %}

										{{ i }}{% if not forloop.last %}, {% endif %}

										{% if forloop.last %}
											{% if LANGUAGE_CODE == 'tr' %}
											hariç.
											{% endif %}
										{% endif %}

									{% endfor %}
								{% endif %}
							</div>
							<div class="options" style="display: none;">{{ item.options }}</div>
						<!-- </a> -->
					</div>
				</div>
				<div class="col-3 clear">
					<div class="price">
						{% if LANGUAGE_CODE == 'tr' %}
			                <span id="price">{{ item.totalPrice|floatformat:2 }}</span> TL
			            {% elif LANGUAGE_CODE == 'en' %}
			                $ <span id="price">{{ item.totalPrice|floatdot }}</span>
			            {% endif %}
					</div>
				</div>
				<div class="clear"></div>
				
			</div>
			{% endfor %}
	</div>
</div>


<div class="row total-tip-head">
	<div class="col">
		<div class="amount">
			<div class="title">{% trans 'Tip' %}:</div>
			<div class="price">
				{% if LANGUAGE_CODE == 'tr' %}
	                <span id="tip">0</span> TL
	            {% elif LANGUAGE_CODE == 'en' %}
	                $ <span id="tip">0</span>
	            {% endif %}
			</div>
		</div>
	</div>
</div>

<form action="{% url 'order:complated' %}" method="post">
	{% csrf_token %}

	<div class="row total-tip">
		<div class="col">

			<div class="total-items">
				<label>
					<input type="radio" class="option-input radio" name="tip-val" value="10">10%
				</label>
			</div>

			<div class="total-items">
				<label>
					<input type="radio" class="option-input radio" name="tip-val" value="15">15%
				</label>
			</div>

			<div class="total-items">
				<label>
					<input type="radio" class="option-input radio" name="tip-val" value="20">20%
				</label>
			</div>

			<div class="form-group total-other">
				<input type="number" min="0" max="100" class="form-control tip-other" id="custom-tip" name="custom-tip" placeholder="Other" style="width: 4.5rem; float: right;">
			</div>

		</div>
	</div>



	<div class="row total">
		<div class="col">
			<div class="amount">
				<div class="title">{% trans 'Total Price' %}:</div>
				<div class="price" id="total-price">
					{% if LANGUAGE_CODE == 'tr' %}
		                <span id="total">{{ total|floatformat:2 }}</span> TL
		            {% elif LANGUAGE_CODE == 'en' %}
		                $<span id="total"> {{ total|floatdot }}</span>
		            {% endif %}
				</div>
			</div>
		</div>
	</div>


	<div class="row order">
		<!-- <div class="col-6 clear">
			<div class="amount">{{ total|floatformat:2 }} TL</div>
		</div> -->
		<div class="col-12 clear">
			<div class="inside">
				<!-- <a href="{% url 'order:complated' %}"> -->
					<button class="button" type="submit">{% trans 'ORDER NOW' %}</button>
				<!-- </a> -->
			</div>
		</div>
	</div>

</form>

{% endif %}

{% if not cart %}
<div class="row cart-empty">
	<div class="middle">
		<div class="inner">
			<i id="basket" class="fas fa-shopping-basket"></i>
			<div class="desc">{% trans 'There are no products in your cart.' %}</div>
			<a href="{% url 'order:index' %}">
				<div class="back">{% trans 'Back to the menu' %}</div>
			</a>
		</div>
	</div>
</div>
{% endif %}


{% endblock %}


{% block js %}

<script type="text/javascript">

	
	function deleteBudget(id, price, count, option){

	  // CSRF Token for Django
	  $.ajaxSetup({
		beforeSend: function(xhr, settings) {
		  function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
			  var cookies = document.cookie.split(';');
			  for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
				  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				  break;
				}
			  }
			}
			return cookieValue;
		  }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		  }
		} 
	  });

	  // Option List to Json String

	  var serialized = $.param({id: id, price: price, option: option, count: count});

	  request = $.ajax({
			url: "{% url 'api:cart_delete' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			window.location.href = "{% url 'order:cart' %}";
			return false;
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}

	function updateCountBudget(id, price, count, option){

	  // CSRF Token for Django
	  $.ajaxSetup({
		beforeSend: function(xhr, settings) {
		  function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
			  var cookies = document.cookie.split(';');
			  for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
				  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				  break;
				}
			  }
			}
			return cookieValue;
		  }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		  }
		} 
	  });

	  var serialized = $.param({id: id, price: price, option: option, count: count});


	  request = $.ajax({
			url: "{% url 'api:cart_update_count' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){
			window.location.href = "{% url 'order:cart' %}";
			return false;

		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	}



	$(document).ready(function(){

		// Sadece modal dialoglar acilinca guncellenir
		// Sadece modal dialoglardan basilan butonlarin calistirdigi funclarda kullanilir
		var temp_id;
		var temp_count;
		var temp_options;
		var temp_price;


		// ------------ CALCULATE TIP ------------------------------
		$("input[name='tip-val']").change(function(e){
		    var tip = parseFloat($("input[name='tip-val']:checked").val());

		    // Clear other input
		    $('#custom-tip').val('')

		    // Get current total
		    var current = parseFloat('{{ total|floatdot }}');

		    var calc_tip = current/100*tip;
		    $('span#tip').html(calc_tip.toFixed(2));
		    $('span#total').html((calc_tip + current).toFixed(2));
		});

		
		$('#custom-tip').keyup(function(){
			// Get Custom Tip
			var input = $('#custom-tip').val();
			var tip = parseInt(input);

			// Uncheck tip values
			$("input[name='tip-val']").prop('checked', false);

			// Get current total
		    var current = parseFloat('{{ total|floatdot }}');

		    console.log(input);

		    if(tip == 0 || input == ''){
			    $('span#tip').html('0');
			    $('span#total').html(current.toFixed(2));
		    }else{
		    	var calc_tip = current/100*tip;
		    	$('span#tip').html(calc_tip.toFixed(2));
		    	$('span#total').html((calc_tip + current).toFixed(2));
		    }
		})


		// ------------ ITEM DELETE ------------------------------


		$('.titles').click(function(e){
			element = $(this).parent().parent();
			menuTitle = $(this).find('.title').html();
			menuSubTitle = $(this).find('.options').html();
			menuOptions = $(this).find('.subtitle').html();
			menuPrice = element.find('#price').html();
			menuCount = element.find('.count').html();
			menuId = element.find('#menu_id').html();

			temp_id = parseInt(menuId);
			temp_count = parseInt(menuCount);
			temp_options = menuSubTitle;
			temp_price = parseFloat(menuPrice);

			$('#modal-delete-title').html(menuTitle);
			$('#modal-delete-body').html(menuOptions);

			$('#modal-delete').modal('show');

		});

		$('#button-delete').click(function(e) {
			deleteBudget(temp_id, temp_price, temp_count, temp_options);
		});



	  // ------------ ITEM COUNT ------------------------------


		$('.count').click(function(e){
			element = $(this).parent().parent();
			menuTitle = element.find('.title').html();
			menuSubTitle = element.find('.options').html();
			menuPrice = element.find('#price').html();
			menuCount = element.find('.count').html();
			menuId = element.find('#menu_id').html();

			temp_id = parseInt(menuId);
			temp_count = parseInt(menuCount);
			temp_options = menuSubTitle;
			temp_price = parseFloat(menuPrice);

			$('span#count').html(menuCount);

			$('#modal-count').modal('show');

	  	});


	  	$('#button-update').click(function(e) {
			updateCountBudget(temp_id, temp_price, temp_count, temp_options);
		});

		// When click the plus button (item count)
		$(".fa-plus-circle").click(function(e){
			e.preventDefault();
			$('span#count').html(temp_count+1);
			temp_count = temp_count + 1;
		});

		// When click the minus button (item count)
		$(".fa-minus-circle").click(function(e){
			e.preventDefault();
			if(temp_count > 1){
				$('span#count').html(temp_count-1);
				temp_count = temp_count - 1;
			}
		});

	});

</script>
{% endblock %}

