{% extends 'static/base.html' %}
{% load static %}

{% block body %}

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<div class="row cart">
    <div class="col clear">
        <div class="title">Sepetim</div>
    </div>
</div>


<div class="row cart-items">
    <div class="col-12 clear">

        	{% for item in cart %}
        	<div class="row item">

        		<!-- <a href="{% url 'order:detail' id=item.id %}"> -->
        		
        		<div class="col-1 clear" data-toggle="modal" data-target="#myModal2">
        			<div class="count">{{ item.count }}</div>
        		</div>
        		<div class="col-8 clear">
        			<div class="titles" data-toggle="modal" data-target="#myModal">
	        			
		        			<div class="title">{{ item.name }}</div>
		        			<div class="subtitle">{{ item.options }}</div>
		        		<!-- </a> -->
	        		</div>
	        	</div>
        		<div class="col-3 clear">
        			<div class="price">{{ item.totalPrice|floatformat:2 }} TL</div>
        		</div>
        		<div class="clear"></div>
	        	
        	</div>
        	{% endfor %}
    </div>
</div>



<div class="row total">
	<div class="col">
		<div class="amount">
			<div class="title">Ödenecek Tutar:</div>
			<div class="price">{{ total|floatformat:2 }} TL</div>
		</div>
	</div>
</div>


<div class="row order">
	<!-- <div class="col-6 clear">
		<div class="amount">{{ total|floatformat:2 }} TL</div>
	</div> -->
	<div class="col-12 clear">
		<div class="inside">
			<a href="{% url 'order:complated' id=1 %}">
				<div class="button">SİPARİŞ VER</div>
			</a>
		</div>
	</div>
</div>

{% endblock %}


{% block js %}

<script type="text/javascript">
	
	function addBudget(id, price, count, option){

	  // CSRF Token for Django
	  $.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	      function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	          var cookies = document.cookie.split(';');
	          for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	              break;
	            }
	          }
	        }
	        return cookieValue;
	      }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	      }
	    } 
	  });

	  // Option List to Json String
	  var optionParsed = -1;
	  if(option.length != 0)
	    optionParsed = JSON.stringify(option);

	  var serialized = $.param({id: id, price: price, option: optionParsed, count: count});

	  console.log(serialized);

	  request = $.ajax({
	        url: "{% url 'cart:add' %}",
	        type: "post",
	        data: serialized
	    });

	    // Callback handler that will be called on success
	    request.done(function (response, textStatus, jqXHR){
	        // Log a message to the console
	        console.log("Hooray, it worked!");
	    });

	    // Callback handler that will be called on failure
	    request.fail(function (jqXHR, textStatus, errorThrown){
	        // Log the error to the console
	        console.error(
	            "The following error occurred: "+
	            textStatus, errorThrown
	        );
	    });
	}


	$(document).ready(function(){

	  // ------------ ITEM COUNT ------------------------------

		// When click the plus button (item count)
	  $(".fa-plus-circle").click(function(e){
	  	e.preventDefault();
	  	$('span#count').html(count+1);
	  	count = count + 1;
	  	updatePrice();
	  });

	  // When click the minus button (item count)
	  $(".fa-minus-circle").click(function(e){
	  	e.preventDefault();
	  	if(count > 1){
	  		$('span#count').html(count-1);
	  		count = count - 1;
	  	}
	  	updatePrice();
	  });


	  // ------------ DROPADD ------------------------------

	  // When click the DropAdd options
	  $("li#options").click(function(e){
	  	e.preventDefault();
	  	var element = $(this);
	  	
	  	// Mark li element as a removed class
	  	if(element.attr('class')){
	  		element.removeClass('delete');
	  	}else{
	  		element.addClass('delete');	
	  	}

	  	// Get subcategory id
	  	var d = element.children().attr('id');
	  });


	  // ------------ DROPDOWN ------------------------------

	  // When Clicked Dropdown Options
	  $("label.container-radio").mousedown(function (e) {
	  	var element = $(this);
	  	var d = element.children().attr('id');
	  	var extra = parseFloat(element.find("#price").html());
	  	extraPrice = extra;
	  	updatePrice();
	  });


	  // ------------ ADD CART ------------------------------

	  // When Click 'Sepete Ekle'
	  $(".bucket-button").click(function(){

	    // Create List for Add Cart AJAX
	    var optionList = new Array();

	    var element = $(this);

	    // Get Menu Details

	    var productId = parseInt($('#productId').html());
	    var productPrice = parseFloat($('span#priceInner').html());
	    var productCount = parseInt($('span#count').html());

	    
	    // Get Option Details

	    var options = $('.option'); // get all option sections

	    for (i = 0; i < options.length; i++) {

	      // Define option type
	      var dropdown = $(options[i]).find('.content-dropdown');
	      var dropadd = $(options[i]).find('.content-dropadd');


	      // If Options with dropdown
	      if(dropdown.length > 0){
	        var inputs = $(dropdown).find('.container-radio');

	        // console.log(inputs);

	        for (t = 0; t < inputs.length; t++) {
	          var optionName = $(inputs[t]).html().split('\n')[0];
	          var checked = $(inputs[t]).find('input').prop('checked');
	          var value = $(inputs[t]).find('input').attr('value');

	          // console.log('Name: '+ optionName);
	          // console.log('Checked: '+ checked);
	          // console.log('Value: '+ value);
	          // console.log('--');
	          if(checked){
	            // console.log('Name: '+ optionName);
	            // console.log('Value: '+ value);
	            // console.log('--');
	            optionList.push(value);
	          }
	        }


	      // If Options with drop-add
	      }else if(dropadd.length > 0){
	        var inputs = $(dropadd).find('li#options');
	        for(di = 0; di < inputs.length; di++){
	          var id = $(inputs[di]).find('span').attr('id');
	          var deleted = $(inputs[di]).attr('class');
	          if(deleted){
	            // console.log('Deleted ID: ' + id);
	            optionList.push(id);
	          }

	        }
	      }
	    }

	    // console.log(optionList);

	    addBudget(productId, productPrice, productCount, optionList);
	  });
	});


</script>
{% endblock %}

