{% extends 'order/static/base.html' %}
{% load static %}

{% block body %}


<!-- <div class="container h-100">header -->
      <!-- <div class="row h- 100">
        <div class="col-12" style="background: red;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has </div>
      </div> -->
    <!-- </div> -->

<div class="row complated">
    <div class="col-12">
    	<div class="pic"><img src="{% static 'img/complated.png' %}"></div>
        <div class="message">Siparişiniz başarıyla alındı!</div>
        <div class="subMessage">En kısa zamanda müsait olan garsonlarımız siparişinizi size ulaştıracaktır. Bizi kullandığınız için teşekkür ederiz :)</div>
        <a href="#">
            <div class="track">SİPARİŞİNİ TAKİP ET</div>
        </a>
    </div>
</div>


{% endblock %}


{% block js %}
<script>

function updateBucket(){
	var d = 0;
	if($.session.get('bucket')){
		d = $.session.get('bucket');
	}
	$('#bucketCount').html('('+d+')')
};

$(document).ready(function(){
	updateBucket();

	// $("a#bucketLink").click(function(e){
	// 	e.preventDefault();
	// 	$.session.clear();
	// 	updateBucket();
	// });

    $(".fa-plus-circle").click(function(){

    	var d = $.session.get('bucket');
    	console.log(d);

    	var element = $(this); 
        var parent = element.parent().get(0);
        var id = $(parent).attr('id');

        element.css('display','none');
        element.parent().find("img").css('display','block');

   		newItem = 1;

		if($.session.get('bucket')){
			var old = $.session.get('bucket');
			newItem = parseInt(old) + 1;
		}
		$.session.set('bucket', newItem);

		updateBucket();

        setTimeout(function(){
        	element.parent().find("img").css('display','none');
        	var check = element.parent().find("i")[1];
        	$(check).css('display','block');

        	setTimeout(function(){
        		$(check).css('display','none');
        		element.parent().find("img").css('display','none');
        		element.css('display','block');
        	}, 1000);
        }, 1000);


    });
});
</script>

{% endblock %}

