{% extends 'order/static/base.html' %}
{% load static %}

{% block body %}

<div class="row complated">
    <div class="col-12">
    	<div class="pic"><img src="{% static 'img/complated.png' %}"></div>
        <div class="message">Siparişiniz başarıyla alındı!</div>
        <div class="subMessage">En kısa zamanda müsait olan garsonlarımız siparişinizi size ulaştıracaktır. Bizi kullandığınız için teşekkür ederiz :)</div>
        <a href="{% url 'order:track' id=line_id %}">
            <div class="track">SİPARİŞİNİ TAKİP ET</div>
        </a>
    </div>
</div>

{% endblock %}