{% extends 'static/base.html' %}
{% load static %}

{% block body %}

<div class="container-index">

  <div class="alert alert-success fade show alert2" id="success-alert">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>


<div class="row enterprise">
    <div class="col-4 clear">
        <img src="{{enterprise.logo.url}}">
    </div>


    <div class="col-8 clear">
        <div class="titleDiv">
            <div class="name">{{enterprise.name}}</div>
            <div class="location">Levent</div>
            <div class="table"><b>Masa:</b> {{table}}</div>
        </div>
    </div>
</div>



<div class="row search">
	<div class="col-12 clear">
		<input type="search" name="search" class="searchInput" placeholder="Ürün Arayın">
	</div>
</div>



{% for category in categories %}

<div class="row menu-title">
	<div class="col-12 clear">
		<div class="head">
			<div class="name">{{ category.name }}</div>
		</div>
	</div>
</div>

{% for menu in category.menu %}
<div class="row menu-item">
		<div class="col-2 col-sm-1 clear">
			<div class="add" id="{{ menu.id }}">
				<!-- For jQuery -->
				<div id="subCategory" style="display: none;">{{ menu.subcategory.count }}</div>
				<!-- End -->
				<i style="display: block" id="plus" class="fas fa-plus-circle"></i>
				<img id="loader" style="display: none" src="{% static 'img/spinner.gif' %}">
				<i id="check" style="display: none" class="fas fa-check"></i>
			</div>
		</div>

	
		<div class="col-7 col-sm-8 clear">
			<div class="record">
				<a href="{% url 'order:detail' id=menu.id %}">
					<div class="title">
						<div class="main">{{ menu.name }}</div>
						<div class="sub">Seçeceğiniz malzemeler ile</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-3 clear">
			<div class="price">{{ menu.price|floatformat:2 }} TL</div>
		</div>

	<div style="display: none" id="price">{{ menu.price|floatformat:2 }}</div>

</div>

{% endfor %}

{% endfor %}




<div class="row no-gutter sepetim">
	<div class="col">
		<a href="{% url 'order:cart' %}">
			<i class="fas fa-shopping-basket"></i>
			&nbsp;Sepetim <span id="bucketCount">(0)</span>
		</a>
	</div>
</div>

</div>

{% csrf_token %}

{% endblock %}


{% block js %}
<script>


function getBudgetCount(){

	// CSRF Token for Django
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		} 
	});

	request = $.ajax({
        url: "{% url 'cart:count' %}",
        type: "post"
    });

    // Callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
        // Log a message to the console
        console.log("Hooray, it worked!");
        console.log()
        $('#bucketCount').html('('+response['result']+')')
    });

    // Callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });
}


function addBudget(id, price){

	// CSRF Token for Django
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		} 
	});

	var serialized = $.param({id: id, price: price, option: -1, count: 1});

	request = $.ajax({
        url: "{% url 'cart:add' %}",
        type: "post",
        data: serialized
    });

    // Callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
        // Log a message to the console
        console.log("Hooray, it worked!");
    });

    // Callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });
}



$(document).ready(function(){


	$("#success-alert").fadeTo(1500, 500).slideUp(500, function(){

	});


	getBudgetCount();


    $(".fa-plus-circle").click(function(){

    	var d = $.session.get('bucket');
    	console.log(d);

    	var element = $(this);

    	// Go Up One
        var parent = element.parent().get(0);

        // Get Menu Item Details
        var id = $(parent).attr('id');
		var subCategoryCount = parseInt(element.parent().find("#subCategory").html());
		var link = element.parent().parent().parent().find('a').attr('href');
		var price = parseFloat($(element.parent().parent().get(0)).find('#price').html());

        
		if (subCategoryCount > 0){
			// Go Details Page
			window.location.href = link;
			return false;

		}else{
			// Directly add cart
			addBudget(id, price);
		}

        element.css('display','none');
        element.parent().find('img').css('display','block');

   		newItem = 1;

		if($.session.get('bucket')){
			var old = $.session.get('bucket');
			newItem = parseInt(old) + 1;
		}
		$.session.set('bucket', newItem);

		// updateBucket();

        setTimeout(function(){
        	element.parent().find('img').css('display','none');
        	var check = element.parent().find('i')[1];
        	$(check).css('display','block');

        	setTimeout(function(){
        		$(check).css('display','none');
        		element.parent().find("img").css('display','none');
        		element.css('display','block');
        		getBudgetCount();
        	}, 1000);
        }, 1000);


    });
});



</script>

{% endblock %}

