{% extends 'order/static/base.html' %}
{% load static %}

{% block body %}


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 1rem;">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ message }}
		</div>
	{% endfor %}
{% endif %}


<!-- TITLE -->
<div class="row main-title">
	<div class="col clear">
		<div class="text"> Sipariş Durumu</div>
	</div>
</div>



<!-- ICONS -->
<div class="row track">
	<div class="col-12">
		<div class="icons">
			<div class="row">
				<div class="col-4 item">
					<i id="i1" class="fas fa-shopping-cart"></i>
				</div>
				<div class="col-4 item">
					<i id="i2" class="fas fa-utensils"></i>
				</div>
				<div class="col-4 item">
					<i id="i3" class="far fa-check-circle"></i>
				</div>

				<div class="row arrow">
					<div class="item-arrow">
						<i class="fas fa-angle-right"></i>
					</div>
					<div class="item-arrow-2">
						<i class="fas fa-angle-right"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- STATUS -->
<div class="row track-status">
	<div class="col">
		<b id="status"></b>
	</div>
</div>

<hr>

<!-- ENTERPRISE -->
<div class="row track-enterprise">
	<div class="col">
		<b>{{ line.enterprise }}</b> - Masa {{ line.table }}
	</div>
</div>


<!-- TITLE -->
<div class="row main-title">
	<div class="col clear">
		<div class="text"> Siparişiniz</div>
	</div>
</div>


<!-- ORDER DETAILS -->
<div class="row track-order">
	<div class="col">

		{% for item in orders %}
		<div class="order-item">
			<div class="o-title">
				{% if item.count > 1 %}
				{{ item.count }} tane 
				{% endif %}
				{{ item.menu.name }}
			</div>
			<div class="o-option">
				{{ item.optionsReadable }}
			</div>
			<div class="o-price">
				{{ item.totalPrice|floatformat:2 }} TL
			</div>
		</div>

		{% endfor %}


		<div class="order-detail">
			<b>Sipariş Zamanı: </b> <span id="time"></span>
		</div>

		<div class="order-detail">
			<b>Toplam Ücret: </b> <b class="green">{{ line.totalPrice|floatformat:2 }} TL</b>
		</div>

	</div>
</div>


<!-- COMMENT -->
{% if not line.isCommented and line.isPaid %}

	<!-- TITLE -->
	<div class="row main-title">
		<div class="col clear">
			<div class="text"> Yorum Yap</div>
		</div>
	</div>

	<div class="row o-comment">
		<div class="col">
			<form method="post">
				{% csrf_token %}
				<div class="form-group">
				  	<textarea class="form-control" rows="3" id="comment" name="comment" maxlength="300"></textarea>
				</div>
				<button type="submit" class="btn btn-success">Gönder</button>
			</form>
		</div>
	</div>

{% elif line.isCommented %}

	<!-- TITLE -->
	<div class="row main-title">
		<div class="col clear">
			<div class="text"> Yorumunuz</div>
		</div>
	</div>

	<div class="row o-comment">
		<div class="col">
			<div class="o-com">
				{{ line.comment }}<br>
			</div>
			<div class="o-date">
				{{ line.comment.commentDate }}		
			</div>
		</div>
	</div>
			
{% endif %}

<br>

{% endblock %}


{% block js %}
<script type="text/javascript">

	$(function(){
		getLineStatus();
	});

	// Eger ajaxtan tamamlanirsa, sayfa yenilenmesi gerekiyor
	// Django yorum kismini render etmesi icin
	var willReload = false;

	function getLineStatus(){

		var time = "{{ line.orderDate|date:'Ymd His' }}";
		var timeSpend = moment(String(time)).locale('tr').fromNow();
		$('#time').html(timeSpend);

		// CSRF Token for Django
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
			  function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				  var cookies = document.cookie.split(';');
				  for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
					  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					  break;
					}
				  }
				}
				return cookieValue;
			  }if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			  }
			} 
		});


		var serialized = $.param({ id: {{line.id}} });


		request = $.ajax({
			url: "{% url 'api:line_status' %}",
			type: "post",
			data: serialized
		});

		request.done(function (response, textStatus, jqXHR){

			var data = JSON.parse(response.line);

			if(data[0].fields.isPaid == true){
				if (willReload == true) {
					window.location.reload();
				}

				// Check Commented
				if(data[0].fields.isCommented == true){
					$('#status').html('Siparişiniz tamamlandı.');
				}else{
					$('#status').html('Siparişiniz tamamlandı. Aşağıdan yorum yapabilirsiniz.');
				}
				
				$('#i1').addClass('check');
				$('#i2').addClass('check');
				$('#i3').addClass('check');
			}else if(data[0].fields.isComplated == true){
				$('#status').html('Siparişiniz hazırlandı. Yakında masanızda olacak.');
				$('#i1').addClass('check');
				$('#i2').addClass('check');
				willReload = true;
			}else{
				$('#status').html('Siparişiniz alındı. Onaylanması bekleniyor.');
				$('#i1').addClass('check');
			}

			setTimeout(function(){
				getLineStatus();
			}, 2000);
		});

		request.fail(function (jqXHR, textStatus, errorThrown){
			console.error(
				"The following error occurred: "+
				textStatus, errorThrown
			);
		});
	};


</script>
{% endblock %}

